<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank移动理财管家——端午节</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170528/dragonBoatFestival.css">
</head>
<body>
    <div class="dbf-mod">
        <span class="rule"></span>
        <img src="../../../lib/dragonBoatFestival/dbf-01.jpg" width="100%" height="auto" alt="dragonBoatFestival" />
    </div>
    <div class="dbf-mod">
        <span class="zz level1"></span>
        <span class="zz level2"></span>
        <span class="zz level3"></span>
        <span class="zz level4"></span>
        <span class="zz level5"></span>
        <span class="zz level6"></span>
        <span class="dragon st0"></span>
        <div class="prize">立即抽奖<br/>剩余<span id="residue">--</span>次</div>
        <span class="luck"></span>
        <img src="../../../lib/dragonBoatFestival/dbf-02.jpg" width="100%" height="auto" alt="dragonBoatFestival" />
        <img src="../../../lib/dragonBoatFestival/dbf-03.jpg" width="100%" height="auto" alt="dragonBoatFestival" />
    </div>
    <div class="dbf-mod">
        <div class="dbf-info">
            <p>龙舟已行进至<span id="all">--</span>划</p>
            <p>您本次为龙舟助力了<span id="my">--</span>划</p>
            <div>幸运划手(第18、188划...)可获惊喜礼包</div>
        </div>
        <img src="../../../lib/dragonBoatFestival/dbf-04.jpg" width="100%" height="auto" alt="dragonBoatFestival" />
    </div>
    <div class="rank-box">
        <div class="rank-con">
            <h2 class="rank-top">
                <img src="../../../lib/dragonBoatFestival/DragonBoatFestival-ranktopbg.png" width="100%" height="auto" alt="dragonBoatFestival" />
            </h2>
            <div class="rankcontext">
                <h2 class="rankcontexttit"><img src="../../../lib/dragonBoatFestival/DragonBoatFestival-ranktitle.png" width="100%" height="auto" alt="dragonBoatFestival" /></h2>
                <ul id="otherrank">
                    <li class="item1">
                        <span class="rank-icon icon1"><p></p></span>
                        <span class="rank-name">--</span>
                        <span class="rank-num">--</span>
                        <span class="rank-money">1888</span>
                    </li>
                    <li class="item2">
                        <span class="rank-icon icon2"><p></p></span>
                        <span class="rank-name">--</span>
                        <span class="rank-num">--</span>
                        <span class="rank-money">888</span>
                    </li>
                    <li class="item3">
                        <span class="rank-icon icon3"><p></p></span>
                        <span class="rank-name">--</span>
                        <span class="rank-num">--</span>
                        <span class="rank-money">588</span>
                    </li>
                    <li class="item4">
                        <span class="rank-icon">4</span>
                        <span class="rank-name">--</span>
                        <span class="rank-num">--</span>
                        <span class="rank-money">--</span>
                    </li>
                    <li class="item5">
                        <span class="rank-icon">5</span>
                        <span class="rank-name">--</span>
                        <span class="rank-num">--</span>
                        <span class="rank-money">--</span>
                    </li>
                </ul>
                <div class="myrank">
                    <p class="line"></p>
                    <h2><img src="../../../lib/dragonBoatFestival/DragonBoatFestival-rankmytitle.png" width="100%" height="auto" alt="dragonBoatFestival" /></h2>
                    <ul id="myrank">
                        <li class="item6">
                            <span class="rank-icon">--</span>
                            <span class="rank-name">--</span>
                            <span class="rank-num">--</span>
                            <span class="rank-money">--</span>
                        </li>
                    </ul> 
                </div>
                
            </div>
        </div>
    </div>
    <p class="footer">【本活动规则解释权归94bank所有】</p>
    <div class="load">
        <span></span>
    </div>
    <div class="dlg-mask" id="dlg_rule_mask">
        <div class="wrap-dlg wrap-rule-dlg">
            <p class="rule-tit"></p>
            <ul class="rule-info">
                <li>活动期间，购买9盈宝系列产品即可助力94龙舟划动前行，每满1000元：90天1划、365天5划、720天10划，龙舟能行多远就看你的啦~</li>
                <li>1、94龙舟前行到1000划即抵达 “龙舟加油站”，解锁1~99元红包、现金，满1000元即可抽奖一次</li>
                <li>2、集体每抵达一关卡即可解锁翻倍福利，全员领取最高1.6倍系数现金奖励；</li>
                <li>3、行进过程设有“幸运划手”奖励，第18、188、888、1888、2888、3888、4888、5888划手，分别可获得一份惊喜礼包；</li>
                <li>4、根据累计助力次数将进入“赛龙舟最佳划手”榜，截止活动结束荣登榜单前3名用户，最高可领1888元现金奖励；</li>
                <li>5、现金奖励将会于活动结束后3个工作日内统一发送至用户的94账户之中，取至小数点后2位。</li>
            </ul>
        </div>
    </div>
    <div class="dlg-mask" id="dlg_luck_mask">
        <div class="wrap-dlg wrap-luck-dlg">
            <p class="luck-tit"></p>
            <div class="luck-info">
                <p>恭喜您为<span id="luck_num"></span>划幸运</p>
                <p>划手，18元现金奖励、</p>
                <p>28元、58元红包券已</p>
                <p>发放至您的账户内</p>
                <span class="dlg-btn" id="luck_btn">知道啦</span>
            </div>
        </div>
    </div>
    <div class="dlg-mask" id="dlg_prize_mask">
        <div class="wrap-dlg wrap-prize-dlg">
            <p class="prize-tit"></p>
            <p class="prize-subtit">获得<span></span>现金奖励</p>
            <div class="prize-st hb"></div>
            <span class="dlg-btn" id="prize_btn">知道啦</span>
        </div>
    </div>
    <div class="blink-mask">
        <div class="blink-info"></div>
    </div>
    
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170528/dragonBoatFestival.js"></script>
    <script type="text/javascript" async defer src="https://hm.baidu.com/hm.js?d17a4a727acad0180720d6803315b07b"></script>    
</body>
</html>