<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——94管家</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20161225/christmas.css">
</head>
<body>
    <div class="csms">
        <span class="csms-hdgz"></span>
        <span class="csms-ybwdlg"></span>
        <span class="csms-wwdlg"></span>
        <span class="csms-ywdlg"></span>
        <span class="csms-zyx">
            <img src="../../../lib/christmas/csms-zyx.png" alt="christmas" width="100%" height="auto">
            <img style="display: none;" id="zyx_btn" src="../../../lib/christmas/csms-zyx-on.png" alt="christmas" width="100%" height="auto">
        </span>
        <span class="csms-jyb">
            <img src="../../../lib/christmas/csms-jyb.png" alt="christmas" width="100%" height="auto">
            <img style="display: none;" src="../../../lib/christmas/csms-jyb-on.png" alt="christmas" width="100%" height="auto">
        </span>
        <span class="csms-xgzw">
            <img src="../../../lib/christmas/csms-xgzw.png" alt="christmas" width="100%" height="auto">
            <img style="display: none;" src="../../../lib/christmas/csms-xgzw-on.png" alt="christmas" width="100%" height="auto">
        </span>
        <span class="csms-fx">
            <img src="../../../lib/christmas/csms-fx.png" alt="christmas" width="100%" height="auto">
            <img style="display: none;" src="../../../lib/christmas/csms-fx-on.png" alt="christmas" width="100%" height="auto">
        </span>
        <span class="csms-ybw">
            <img src="../../../lib/christmas/csms-ybw.png" alt="christmas" width="100%" height="auto">
            <img style="display: none;" src="../../../lib/christmas/csms-ybw-on.png" alt="christmas" width="100%" height="auto">
        </span>
        <span class="csms-ww">
            <img src="../../../lib/christmas/csms-ww.png" alt="christmas" width="100%" height="auto">
            <img style="display: none;" src="../../../lib/christmas/csms-ww-on.png" alt="christmas" width="100%" height="auto">
        </span>
        <span class="csms-cqhb">
            <img src="../../../lib/christmas/csms-cqhb.png" alt="christmas" width="100%" height="auto">
            <img style="display: none;" id="cqhb_btn" src="../../../lib/christmas/csms-cqhb-on.png" alt="christmas" width="100%" height="auto">
        </span>
        <span class="csms-zw">
            <img src="../../../lib/christmas/csms-zw.png" alt="christmas" width="100%" height="auto">
            <img style="display: none;" src="../../../lib/christmas/csms-cqhb-on.png" alt="christmas" width="100%" height="auto">
        </span>
        <div class="csms-star">
            <p class="star-num"></p>
            <div class="star-mod">
            </div>
        </div>
        <div class="csms-rule"></div>
        <img src="../../../lib/christmas/csms01.png" alt="christmas" width="100%" height="auto">
        <img src="../../../lib/christmas/csms02.png" alt="christmas" width="100%" height="auto">
        <img src="../../../lib/christmas/csms03.png" alt="christmas" width="100%" height="auto">
        <img src="../../../lib/christmas/csms04.png" alt="christmas" width="100%" height="auto">
    </div>
    <div class="load"><span></span></div>
    
    <div class="csms-dlg hb-3y">
        <img src="../../../lib/christmas/hb3y.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>  
    <div class="csms-dlg hb-15y">
        <img src="../../../lib/christmas/hb15y.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>  
    <div class="csms-dlg hb-25y">
        <img src="../../../lib/christmas/hb25y.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>

    <div class="csms-dlg xx-30k">
        <img src="../../../lib/christmas/xx30k.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>  
    <div class="csms-dlg xx-50k">
        <img src="../../../lib/christmas/xx50k.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>  
    <div class="csms-dlg xx-100k">
        <img src="../../../lib/christmas/xx100k.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>

    <div class="csms-dlg hf-2y">
        <img src="../../../lib/christmas/hf2y.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>
    <div class="csms-dlg hf-5y">
        <img src="../../../lib/christmas/hf5y.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>
    <div class="csms-dlg hf-10y">
        <img src="../../../lib/christmas/hf10y.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>
    <div class="csms-dlg hf-20y">
        <img src="../../../lib/christmas/hf20y.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>
    <div class="csms-dlg hf-50y">
        <img src="../../../lib/christmas/hf50y.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>
    <div class="csms-dlg hf-100y">
        <img src="../../../lib/christmas/hf100y.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>  

    <div class="csms-dlg cjwks">
        <img src="../../../lib/christmas/cjwks.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>  

    <div class="csms-dlg hdyjs">
        <img src="../../../lib/christmas/hdyjs.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div> 
    
    <div class="csms-dlg hdwks">
        <img src="../../../lib/christmas/hdwks.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div> 

    <div class="csms-dlg xxcy">
        <img src="../../../lib/christmas/xxcy.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div>
    <div class="csms-dlg wkycjjh">
        <img src="../../../lib/christmas/wkycjjh.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div> 
    <div class="csms-dlg wkyjh">
        <img src="../../../lib/christmas/wkyjh.png" alt="christmas" width="100%" height="auto">
        <em class="csms-close"></em>
    </div> 

    <div class="rule-dlg jlgz">
        <div class="rule-tit">
            <img src="../../../lib/christmas/jygz-tit.png" alt="christmas" width="100%" height="auto">
        </div>
        <em class="csms-close"></em>
        <ul class="rule-info">
            <li class="dlg-tit">额外奖励</li>
            <li>
                <span>1、</span>
                <div>
                    <p>同时参与第一层和第二层点亮的用户，可获得一张圣诞日限定福利券，</p>
                    <p>使用详情：125元现金红包（购买九盈宝365天理财产品满15000元以上可用，最高至30000元）；</p>
                    <p>圣诞福利券使用有效期：12月25日10:00~2017年1月1日24:00。</p>
                </div>
            </li>
            <li>
                <span>2、</span>
                <div>
                    <p>邀新返现奖励：</p>
                    <p>成功邀请好友注册并购买“9盈宝”90天或365天产品，推荐人即可获得好友首次购买金额的0.1225%的现金回报（例：好友注册并购买9盈宝10000元，邀请人账户可返现12.25元）；</p>
                    <p>活动期间邀请次数不限；</p>
                </div>
            </li>
            <li>
                <span>3、</span>
                <div>
                    <p>“圣诞迪士尼全家游”套票：</p>
                    <p>截止至12月25日22：00，活动期间购买9盈宝最多的用户可额外获得“圣诞迪士尼全家游”两大一小3张一日游门票。</p>
                </div>
            </li>
            <li>
                <span>注：</span>
                <div>
                    <p>94工作人员将会在活动结束后7个工作日内与中奖用户电话联系，请保持手机畅通。3天内若无法联系到获奖者，将视为自动放弃。</p>
                </div>
            </li>
        </ul>
    </div> 
    <div class="rule-dlg hdgz">
        <div class="rule-tit">
            <img src="../../../lib/christmas/jygz-tit.png" alt="christmas" width="100%" height="auto">
        </div>
        <em class="csms-close"></em>
        <ul class="rule-info">
            <li class="dlg-tit">万星点亮，万元话费大放送！</li>
            <li>活动时间：12月25日  10:00-22:00</li>
            <li>活动规则：</li>
            <li>
                <span>1、</span>
                <div>
                    <p>截止至12月24日24:00，当每一层星星都被点亮，将自动解锁94圣诞树最顶端的“祝语星”，所有参与用户都可抽取话费！</p>
                </div>
            </li>
            <li>
                <span>2、</span>
                <div>
                    <p>参与每一层点亮活动，或每累计购买指定产品1225元即可获得一次抽奖机会，抽奖次数不限（例：参与第一层点亮获得1次，参与第二层点亮获得1次，活动期间购买“9盈宝”产品10000元可获得8次抽奖机会）；</p>
                </div>
            </li>
            <li>
                <span>3、</span>
                <div>
                    <p>2~100元话费等你来拿！</p>
                </div>
            </li>
        </ul>
    </div> 
    <div class="rule-dlg ybwdlg">
        <div class="rule-tit">
            <img src="../../../lib/christmas/jygz-tit.png" alt="christmas" width="100%" height="auto">
        </div>
        <em class="csms-close"></em>
        <ul class="rule-info">
            <li class="dlg-tit">100万颗“9盈宝点亮”</li>
            <li>活动时间：12月24日  9:00-24:00</li>
            <li>活动产品：</li>
            <li>
                <label>9盈宝</label>
                <label>年化收益率8%</label>
                <label>90天</label>
            </li>
            <li>
                <label>9盈宝</label>
                <label>年化收益率11% </label>
                <label>365天</label>
            </li>
            <li>活动规则：</li>
            <li>
                <span>1、</span>
                <div>
                    <p>圣诞树第三层共100万颗星星，活动期间(12.22-12.24)购买9盈宝90天或365天产品（一元=1颗星星）即可参与活动，参与次数不限。</p>
                </div>
            </li>
            <li>
                <span>2、</span>
                <div>
                    <p>9盈宝90天产品需累积点亮70w颗， 365天产品累积点亮30w颗，全层才可亮起。</p>
                </div>
            </li>
        </ul>
    </div>  
    <div class="rule-dlg wwdlg">
        <div class="rule-tit">
            <img src="../../../lib/christmas/jygz-tit.png" alt="christmas" width="100%" height="auto">
        </div>
        <em class="csms-close"></em>
        <ul class="rule-info">
            <li class="dlg-tit">50000颗星星“助威点亮”</li>
            <li>活动时间：12月23日  12:00-20:00</li>
            <li>活动规则：</li>
            <li>
                <span>1、</span>
                <div>诞树第二层共50000颗星星，活动当天点击“星光瓶”，每人有3次机会收集随机数量星星。</p>
                </div>
            </li>
            <li>
                <span>2、</span>
                <div>
                    <p>第二层星星全部点亮后，所有参与活动的用户可随机获得1-10元现金，于次日24日10:00统一返现至用户的94账户中（满星后点击不再返现）。</p>
                </div>
            </li>
        </ul>
    </div> 
    <div class="rule-dlg ywdlg">
        <div class="rule-tit">
            <img src="../../../lib/christmas/jygz-tit.png" alt="christmas" width="100%" height="auto">
        </div>
        <em class="csms-close"></em>
        <ul class="rule-info">
            <li class="dlg-tit">10000颗星星“分享点亮”</li>
            <li>活动时间：12月22日-12月24日  9:00-24:00</li>
            <li>活动规则：</li>
            <li>
                <span>1、</span>
                <div>圣诞树第一层共10000颗星星，转发分享活动页即可参与活动,每转发一次点亮10颗星星，每人每天参与次数不限。</p>
                </div>
            </li>
            <li>
                <span>2、</span>
                <div>
                    <p>第一层星星全部点亮后，开启抢红包通道。人人都有3次抽奖机会，3元、15元、25元红包等你来抢！</p>
                </div>
            </li>
        </ul>
    </div>  
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20161225/christmas.js"></script>
</body>
</html>