<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<title>优惠券</title>
	<link href="../../dist/product/coupon.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="coupon-container">
            <ul class="coupon-cont">
            </ul>
            <!--暂无数据-->
            <div class="none-info" style="display:none;">
                <span class="none-ico"></span>
                <p>暂无可用优惠券</p>
            </div>
            <div class="load">
                <span></span>
            </div>
            <div class="bot">已经到底啦</div>
        </div>
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../dist/product/coupon.js"></script>
</body>
</html>