<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>阳光私募预约</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
</head>
<body>
    <link rel="stylesheet" href="../../dist/product/product-sunprivate.css?v=12345">
    <ul class="ul-two psun-top" id="psunTop">
        <li><p>预期年化收益率</p><span id="yqnhsyl"></span></li>
        <li><p>项目状态</p><span id="sunpState"></span></li>
    </ul>

    <ul class="ul-three psun-infor">
        <li><span class="sun01"></span><span>顶尖投顾</span></li>
        <li><span class="sun02"></span><span>明星产品</span></li>
        <li><span class="sun03"></span><span>超额收益</span></li>
    </ul>

        <div class="pdd-info">
            <a href="javascript:void(0);">
                <p>起购金额</p>
                <span id="moneyNum"></span>
            </a>
            <a href="javascript:void(0);">
                <p>产品期限</p>
                <span id="deadLine"></span>
            </a>
            <a href="javascript:void(0);">
                <p>募集规模</p>
                <span id="offeringSize"></span>
            </a>
            <a href="javascript:void(0);" class="arrow" id="sunDes">
                <p>项目描述</p>
            </a>
        </div>
    <div class="tips gray">
        您通过在线预约本项目，后续会有理财顾问与您联系，帮助您进行认购事宜。
    </div>
    <a href="javascript:void(0);" class="fm-btn" id="btnAppointment">立即预约</a>
    <div class="load" id="load">
        <span></span>
    </div>  
<script src="../../lib/zepto.min.js"></script>
<script src="../../dist/product/product-sunprivate.js"></script>
</body>
</html>