<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——风险揭示</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.jpg?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.jpg?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.jpg?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.jpg?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/product/riskDisclosure.css">
</head>
<body>
    <div class="rd-cont">
      <p>由于项目受市场、政策、法律等各种因素的影响，94bank作为信息发布平台主要提供信息发布和交易撮合服务，未以任何明示或暗示的方式对投资人提供任何担保或承诺保本保息。94bank提供的各种信息及资料仅供参考，不构成任何投资建议或引导，投资人应依其独立判断做出决策并承担由此带来的投资风险，94bank不承担任何责任。
      </p>
      <p>因此请您在投资本项目时，对项目风险务必要有清醒的认识，并根据自身的风险承受能力及资产情况、收入状况、风险偏好等，结合以往的投资经验综合考虑是否投资本项目。</p>
      <p>本产品投资可能面临下列风险，包括但不限于：</p>
      <p>1.提前/延期终止风险：投资期内若市场发生重大变化或突发性时间或其他认为需要提前/延期终止本产品的情形时，94bank有权提前/延期终止本产品。投资者可能面临不能按预期期限取得预期收益的风险。</p>
      <p>2.政策风险：因财政政策、货币政策、产业政策、区域发展政策等国家宏观政策发生变化，可能导致市场价格波动，从而影响本产品收益。</p>
      <p>3.行业风险：因行业易受政策及市场环境影响，可能给投资者投资收益实现带来无法足额收回本息的影响，以及转让方未能及时足额兑付本息，投资者面临本金及收益的损失、甚至为零的风险。</p>
      <p>4.经济周期风险：随着经济运行的周期性变化，市场的收益水平也呈周期性变化，投资收益水平也会随之发生变化，从而产生风险。</p>
      <p>5.利率风险：利率风险是指由于利率变动而导致的资产价格和资产利息的损益。利率波动会直接影响企业的融资成本和利润水平，导致证券市场的价格和收益率的波动，使投资收益水平随之发生变化，从而产生风险。</p>
      <p>6.购买力风险：投资的利润将主要通过现金形式来分配，而现金可能因为通货膨胀的影响而导致购买力下降，从而使投资的实际收益下降。</p>
      <p>7.信息传递风险：投资者应根据《购买协议》查询本产品的相关信息。如果投资者未及时查询，或由于通讯故障、系统故障以及其他不可坑力等因素的影响使得投资者无法及时了解产品信息，并由此影响投资者的投资决策，因此产生的责任和风险由投资者自行承担。</p>
      <p>8.使用电子签名合同的风险：本产品采用电子签名方式签署，所以在本产品的交易过程中，由于移动通讯网络数据传输等原因，数据传输可能会出现中断、停顿、延迟，传输数据可能出现错误；用户账号及密码信息泄露或用户信息可能被仿冒；用户的网络终端设备及软件系统可能会受到非法攻击或病毒感染，导致电子签名数据无法传输或传输失败。</p>
      <p>9.不可抗力风险：指由于自然灾害、战争等不可抗力因素的出现，将严重影响金融市场的正常运行，可能影响产品的认购、投资、偿还等的正常进行，甚至导致本产品收益降低乃至本金损失。对于由于不可抗力风险所导致的任何损失，由投资者自行承担。</p>
    </div>
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    
</body>
</html>