.active{
  position: relative;
  height:255px;
  background: url(<?=$IMG_GLOBAL.'active-app.jpg' ?>) no-repeat center center;
  background-size:335px;
  margin:0 auto 20px;
}
.active .btn-info{
  display: inline-block;
  width:40%;
  height:30px;
  position: absolute;
  right: 0;
  top:0;
}
#scratch{
  position: absolute;
  left:50%;
  margin-left:-112px;
  top:128.5px;
  width: 224px;
  height:110px;
}

.scratch-mask{
  position: absolute;
  left:50%;
  margin-left:-112px;
  top:128.5px;
  width: 224px;
  height:110px;
}
.scratch-mask .button{
  height:28px;
  line-height: 28px;
  font-size: 14px;
}
.scratch-mask .button:after{
  height:21px;
}
.scratch-text{
  color:#6e6e6e;
  line-height: 110px;
  text-align: center;
}
.scratch-error{
    display:none;
}
.scratch-error{
  background: #fff;
  box-sizing:border-box;
  padding:18px 25px 0;
  height:110px;
}
.scratch-error p{
  line-height: 18px;
  color: #666;
  text-align: center;
  margin-bottom: 10px;
}
.scratch-nochance{
  display:none;
  box-sizing:border-box;
  text-align: center;
  color: #666;
  padding:25px 20px;
  height:110px;
  line-height: 24px;
  font-size: 16px;
  background: #fff;
}
.scratch-gold{
  display:none;
  box-sizing:border-box;
  text-align: center;
  padding:25px 20px;
}
.scratch-gold p{
  text-align: right;
  height:40px;
}
.scratch-gold p strong{
  color: #e34949;
  font-size: 20px;
  position: relative;
  opacity: 0;
  animation: upper 2s linear ;
  -moz-animation: upper 2s linear ;
  -webkit-animation: upper 2s linear ;
  -o-animation: upper 2s linear ;
}
@keyframes upper
{
  0% { top: 0px;opacity: 0; }
  1% { top: 0px; opacity: 1; }
  100% { top: -24px;opacity: 0; }
}
@-webkit-keyframes upper
{
  0% { top: 0px; opacity: 0; }
  1% { top: 0px; opacity: 1; }
  100% { top: -24px; opacity: 0; }
}