<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——422春季加薪活动</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170422/springRaise.css">
</head>
<body>
    <div class="spr-cont">
        <img src="../../../lib/springRaise/spr_01.jpg" width="100%" height="auto" alt="springRaise" />
        <div class="rank-mod">
            <ul id="rank_info">
            </ul>
        </div>
        <div class="spr-pro">
            <span class="rule"></span>
            <img src="../../../lib/springRaise/spr_02.jpg" width="100%" height="auto" alt="springRaise" />
        </div>
        <img src="../../../lib/springRaise/spr_03.jpg" width="100%" height="auto" alt="springRaise" />
    </div>
    <!--规则-->
    <div class="dlg-mask" id="dlg_rule_mask">
        <div class="rule-dlg">
            <div class="rule-dlg-bd"></div>
            <ul class="rule-dlg-info">
                <li>活动时间：<span>4月22日10:00~4月27日 23:59（6天）</span></li>
                <li>活动产品：<span>9盈宝90天、365天、720天产品</span></li>
                <li>活动规则：
                    <p>1、4月22日~4月27日，购买指定9盈宝90天、365天、720天产品，即可参与“<span>94为您加薪，最高收益翻20倍！</span>”特别福利活动，可享有每日倍数的额外收益，最多可连续加薪<span>6天</span>；</p>
                    <p>2、活动产品投资金额将从起投当天开始，按每日倍数加薪，越早参与<span>累计获得加薪</span>越高；</p>
                    <p>3、截止至4月27日23:59，累加投资总额最高的前100名用户还可获得惊喜94周边礼品，4月最后的加薪福利就在这一波啦~</p>
                </li>
            </ul>
            <div class="rule-dlg-bd"></div>
        </div>
    </div>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170422/springRaise.js"></script>
    <script type="text/javascript" async defer src="https://hm.baidu.com/hm.js?d17a4a727acad0180720d6803315b07b"></script>    
</body>
</html>