<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——418专属日</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170418/special418.css">
</head>
<body>
    <div class="ac-cont">
        <img src="../../../lib/special418/bg.png" width="100%" height="auto" alt="special418" />
        <div class="rule" id="rule"></div>
        <img src="../../../lib/special418/btn_start.png" alt="special418" class="btn btn-start" id="btnStart" style="display: none">
        <img src="../../../lib/special418/btn_check.png" alt="special418" class="btn btn-check" id="btnCheck" style="display: none">
        <p class="time-txt">距离活动结束还有</p>
        <div class="count-down" id="countDown">
                <b class="hour1">-</b>
                <b class="hour2">-</b>
                <span>:</span>
                <b class="minute1">-</b>
                <b class="minute2">-</b>
                <span>:</span>
                <b class="second1">-</b>
                <b class="second2">-</b>
        </div>

        <table width="98%" border="0" class="rewards-infor">
            <thead>
                <tr>
                    <td rowspan="2" width="14%">花花</td>
                    <td height="43">福利1</td>
                    <td colspan="4">福利2</td>
                </tr>
                <tr>
                    <td width="14%">红包券</td>
                    <td width="29%">奖励</td>
                    <td width="20%">价值</td>
                    <td width="23%">投资标的及金额</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="is-join"></td>
                    <td>418元</td>
                    <td>上海迪士尼双人<br>2日游(剩<span class="besides"></span>份)</td>
                    <td>4020元/<br>折现3216元</td>
                    <td>365天9盈宝<br>40w≤¥</td>
                </tr>
                <tr>
                    <td class="is-join"></td>
                    <td>318元</td>
                    <td>华为 Mate 9手机<br>(剩<span class="besides"></span>份)</td>
                    <td>3399元/<br>折现2719元</td>
                    <td>365天9盈宝<br>37w≤¥</td>
                </tr>
                <tr>
                    <td class="is-join"></td>
                    <td>118元</td>
                    <td>华为青春版平板<br>(剩<span class="besides"></span>份)</td>
                    <td>1479元/<br>折现1183元</td>
                    <td>90天9盈宝<br>37w≤¥</td>
                </tr>
                <tr>
                    <td class="is-join"></td>
                    <td>108元</td>
                    <td>九阳豆浆机<br>(剩<span class="besides"></span>份)</td>
                    <td>599元/<br>折现479元</td>
                    <td>365天9盈宝<br>10w≤¥</td>
                </tr>
                <tr>
                    <td class="is-join"></td>
                    <td>94元</td>
                    <td>金镶玉茶具套装<br>(剩<span class="besides"></span>份)</td>
                    <td>449元/<br>折现359元</td>
                    <td>90天9盈宝<br>15w≤¥</td>
                </tr>
                <tr>
                    <td class="is-join"></td>
                    <td>28元</td>
                    <td>小熊烤面包机<br>(剩<span class="besides"></span>份)</td>
                    <td>219元/<br>折现175元</td>
                    <td>365天9盈宝<br>5w≤¥</td>
                </tr>
                <tr>
                    <td class="is-join"></td>
                    <td>18元</td>
                    <td>94元现金<br>(剩<span class="besides"></span>份)</td>
                    <td>94元</td>
                    <td>365天9盈宝<br>3w≤¥</td>
                </tr>
                <tr>
                    <td class="is-join"></td>
                    <td>6元</td>
                    <td>爱奇艺黄金VIP<br>(剩<span class="besides"></span>份)</td>
                    <td>20元/<br>折现16元</td>
                    <td>90天9盈宝<br>8w≤¥</td>
                </tr>                
            </tbody>
        </table>
    </div>

    <div class="footer">本活动最终解释权归94bank所有</div>

   <!--红包前倒计时-->
   <div class="red-count" id="redCount" style="display: none">
        <img src="../../../lib/special418/count_bg.png" width="100%" height="auto" alt="special418" />   
       <img src="../../../lib/special418/count_3.png" width="100%" height="auto" alt="special418" class="red-count3" id="redCount3" />
       <img src="../../../lib/special418/count_2.png" width="100%" height="auto" alt="special418" class="red-count2" id="redCount2" />
       <img src="../../../lib/special418/count_1.png" width="100%" height="auto" alt="special418" class="red-count1" id="redCount1" />       
   </div>
   
    <!--红包-->
    <div class="redpacket" id="redPacket" style="display: none">
        <div class="redpacket_con packet01">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+1</b>
                <b>+1</b>
                <b>+1</b>
            </p>
        </div>
        <div class="redpacket_con packet02">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+2</b>
                <b>+2</b>
                <b>+2</b>
            </p>
        </div>
        <div class="redpacket_con packet03">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+3</b>
                <b>+3</b>
                <b>+3</b>
            </p>
        </div>
        <div class="redpacket_con packet04">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+4</b>
                <b>+4</b>
                <b>+4</b>
            </p>
        </div>
        <div class="redpacket_con packet05">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+5</b>
                <b>+5</b>
                <b>+5</b>
            </p>
        </div>
        <div class="redpacket_con packet06">
            <img src="../../../lib/special418/redbag.png" alt="special418" >
            <p>
                <b>+6</b>
                <b>+6</b>
                <b>+6</b>
            </p>
        </div>
        <div class="redpacket_con packet07">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+7</b>
                <b>+7</b>
                <b>+7</b>
            </p>
        </div>
        <div class="redpacket_con packet08">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+8</b>
                <b>+8</b>
                <b>+8</b>
            </p>
        </div>
        <div class="redpacket_con packet09">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+9</b>
                <b>+9</b>
                <b>+9</b>
            </p>
        </div>
        <div class="redpacket_con packet10">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+10</b>
                <b>+10</b>
                <b>+10</b>
            </p>
        </div>
        <div class="redpacket_con packet11">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+11</b>
                <b>+11</b>
                <b>+11</b>
            </p>
        </div>
        <div class="redpacket_con packet12">
            <img src="../../../lib/special418/redbag.png" alt="special418">
            <p>
                <b>+12</b>
                <b>+12</b>
                <b>+12</b>
            </p>
        </div>
    </div>
   
    <!--红包结束-->
    <div class="popbox pop-red-over" id="popRedOver" style="display: none">
        <img src="../../../lib/special418/redbag_over.png" width="100%" height="auto" alt="special418" />
        <span class="btn btn-red-over" id="btnRedOver"></span>
    </div>

    <!--规则-->
    <div class="dlg-mask bind-mask" id="dlg_rule_mask">
        <div class="popbox pop-rule">
            <div class="pop-rule-top"><img src="../../../lib/special418/rule_bg.png" alt="special418"></div>
            <div class="pop-rule-con">
                <ul>
                    <li>
                        <span>活动时间：</span>
                        <p>
                            <img src="../../../lib/special418/time.png" alt="special418" class="time" />
                            <span>4月18日00:00~ 24:00</span>
                        </p>
                    </li>
                    <li>
                        <span>活动产品：</span>
                        <p>
                            <span>9盈宝90天、365天产品</span>
                        </p>
                    </li>
                    <li>
                        <span>活动规则：</span>
                        <p>1、4月专属日当天，点击“福利花花”按钮，春日花花雨落下，10秒内点击花朵接收福利，最多可集齐<span>8份福利</span>机会；</p>
                        <p>2、<span>福利1：</span>所获“福利花花”红包券会直接发送至您的94账户之中，可直接参与购买指定“9盈宝365天或90天”活动产品；</p>
                        <p>3、<span>福利2：每次单笔</span>达到即可获得相应奖励，<span>“分别可兑换”</span>迪士尼门票+酒店、华为手机、九阳豆浆机等8层好礼（礼品有限，先到先得）</p>
                        <p>4、获得实体礼物的用户，94工作人员将在活动结束后统一联系获奖者，在10个工作日内寄出。（一周内无法联系到本人将视为自动放弃）</p>
                    </li>
                </ul>
            </div>
            <div class="pop-rule-bottom"><img src="../../../lib/special418/rule_bg.png" alt="special418"></div>
        </div>
    </div>

    <!--活动奖励-->
    <div class="popbox pop-rewards" id="popRewards" style="display: none">
        <div class="pop-rewards-top">
            <img src="../../../lib/special418/pop_title.png" alt="special418" />
            <b>我的福利花花</b>
        </div>
        <div class="pop-rewards-con" id="popRewardsCon">
            <ul>
                
            </ul>
        </div>
    </div>
    <div class="mask"></div>

    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../lib/rem.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170418/special418.js"></script>
    <script type="text/javascript" async defer src="https://hm.baidu.com/hm.js?d17a4a727acad0180720d6803315b07b"></script>    
</body>
</html>