<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——全民+5%特权收益 摇钱树摇千万红包！</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170126/cashcow.css">
</head>
<body>
    <div class="tit">
        <img src="../../../lib/cashcow/head.png" alt="cashcow" width="100%" height="auto">
    </div>
    <div class="rotate-mod rotate">
        <img src="../../../lib/cashcow/animation.png" class="radius" alt="cashcow" width="100%" height="auto">
    </div>
    <div class="btn-mod">
        <span class="shake-redbag"></span>
        <span class="shake-fruit"></span>
        <img src="../../../lib/cashcow/cashcow-btn.png" alt="cashcow" width="100%" height="auto">
    </div>
    <div class="time-mod">
        <p>距离下一次摇金果实还有：</p>
        <p class="time-countdown">10:26</p>
    </div>
    <div class="rule-mod">
        <span class="rule"></span>
        <p>活动最终解释权归94bank所有</p>
        <img src="../../../lib/cashcow/cashcow-rule.png" alt="cashcow" width="100%" height="auto">
    </div>
    <div class="rule-wrap">
        <div class="rule-head">
            <em class="hd-lt"></em><p></p><em class="hd-rt"></em>
        </div>
        <div class="rule-info">
            <p class="f01">活动时间：2017年1月27日~1月28日</p>
            <p class="f01">活动产品：9盈宝特权收益产品</p>
            <p class="f01">活动规则：</p>
            <ul class="rl-ul f01">
                <li>
                    <label>1、</label>
                    <div>1月27日 <em class="time-ico"></em><span class="dlg-time">20:00、21:00、22:00、23:00、24:00</span><br>所有用户都可免费摇5轮摇钱树，每轮可摇取1次福利</div>
                </li>
                <li>
                    <label>2、</label>
                    <div>摇钱树价值千万，可随机获得最高888元的现金奖励、
 超值红包券、加息券、iPhone7手机！</div>
                </li>
            </ul>
            <div class="rule-tit">新春壕礼全民+5%特权收益</div>
            <p>1月27日<em class="time-ico"></em><span class="dlg-time">22:00</span></p>
                <p>1月28日<em class="time-ico"></em><span class="dlg-time">10:00、14:00、21:00</span></p>
                <p>四场“9盈宝特权收益”狂欢活动，当前投资狂加5%特权
收益，嗨翻整个春节！份额有限先到先得！</p>
            <div class="rule-tit">生肖专属送财+6%特权收益</div>
            <p>鸡年本命年用户活动期间投资可获得6%特权收益！</p>
            <div class="rule-tit">摇千万幸运摇钱树</div>
            <p>用户参与抢购的特权收益产品每满一次，摇钱树就会结出一季现金果实，每人即可享一次摇树机会，投资金额越多，中奖暴击倍数越高，奖励越大！倒计时15分钟后开抢2017元新年现金奖励, 摇完即止！</p>
            <div class="rule-about">
                <p class="at-tit"><span>奖励说明</span></p>
                <ul class="at-info">
                    <li>
                        <em>●</em>
                        <div>特权收益是指购买9盈宝90天产品享10天额外收益，9盈宝365天产品享60天额外收益，额外特权收益金额将立即返还至用户的94账户；</div>
                    </li>
                    <li>
                        <em>●</em>
                        <div>实物奖励将于春节假期后的15个工作日内联系中奖者并送出，若无法联系到获得者，视为自动放弃。</div>
                    </li>
                    <li>
                        <em>●</em>
                        <div>全民特权收益与生肖送财活动只可选其一。</div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="sta-dlg" id="win_prize">
        <span class="prize-tit"></span>
        <span class="prize-number"></span>
        <img src="../../../lib/cashcow/winprize.png" alt="cashcow" width="100%" height="auto">
    </div>
    <div class="win-load">
        <div class="redbag load">
            <img src="../../../lib/cashcow/redbag.png" alt="cashcow" width="100%" height="auto">
        </div>
        <div class="tree load">
            <img src="http://img.94bank.com/np/dist/Activity/img/20170126/tree.png" alt="cashcow" width="100%" height="auto">
        </div>
       <div class="load-fall"></div>
       <div class="load-bg">
           <img src="../../../lib/cashcow/win-load.png" alt="cashcow" width="100%" height="auto">
       </div> 
    </div>
    <div class="sta-dlg" id="unstart">
        <img src="../../../lib/cashcow/unstart.png" alt="cashcow" width="100%" height="auto">
    </div>
    <div class="sta-dlg" id="end">
        <img src="../../../lib/cashcow/end.png" alt="cashcow" width="100%" height="auto">
    </div>
    <div class="sta-dlg" id="join">
        <img src="../../../lib/cashcow/join.png" alt="cashcow" width="100%" height="auto">
    </div>
    <div class="sta-dlg" id="nochance">
        <img src="../../../lib/cashcow/nochance.png" alt="cashcow" width="100%" height="auto">
    </div>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170126/cashcow.js"></script>
</body>
</html>