<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——邀请好友</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/accountCenter/inviteFriend.css">
</head>
<body>
    <img src="../../lib/img/invit-head.gif" width="100%" height="auto" alt="邀壕友">
    <ul class="lf-cont">
        <li>
            <div class="lf-main">
                <img src="../../lib/img/it-award.png" width="71" height="auto" alt="邀请人奖">
                <p>邀请人奖</p>
            </div>
            <div class="lf-info">
                <h2>好友成功投资100元</h2>
                <p>您得<span class="lf-c"><em>43</em>元</span>现金投资红包</p>
                <p>奖励无上限！</p>
            </div>
        </li>
        <li>
            <div class="lf-main">
                <img src="../../lib/img/reg-award.png" width="61" height="auto" alt="好友注册奖">
                <p>好友注册奖</p>
            </div>
            <div class="lf-info">
                <h2>好友成功注册</h2>
                <p>他得<span class="lf-c"><em>628</em>元</span>现金投资红包</p>
            </div>
        </li>
    </ul>
    
    <a href="javascript:void(0);" class="if-btn">立即邀请</a>
    <div class="g-d-dialog">
        <a href="javascript:void(0);" class="reg_suc">
            <img src="../../lib/img/invite-arrow.png" width="100%" height="auto" alt="注册成功">
        </a>
    </div>
    
        
    
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../dist/accountCenter/inviteFriend.js"></script>

</body>
</html>