<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——提现</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/accountCenter/withdraw.css">
</head>
<body>
    <header class="ac-head">
        <div class="ac-list">
            <span class="ac-ico"><img src="../../lib/img/price-ico.png" alt="余额" width="22" height="auto" class="earn"></span>
            <p>余额（元）</p>
            <p class="ac-price"></p>
        </div>
        <div class="ac-mid">
            <p>提现至</p>
            <em class="ac-line"></em>
        </div>
        <div class="ac-list">
            <span class="ac-ico"><img src="../../lib/img/bank-js.png" alt="银行" width="40" height="auto" id="bank" ></span>
            <p id="bank_name"></p>
            <p id="bank_code">借记卡（<span></span>）</p>
        </div>
    </header>
    <div class="fm-form">
        <label>
            <em class="price"></em>
            <span class="fm-input">
                <input type="number" placeholder="充值金额100元起" value="" id="wd-price">
                <i class="clear"></i>
                <a href="javascript:void(0);" class="wd-all" data-allprice="1000">全部提现</a>
            </span>
        </label>
        <p class="error-tip"><span></span><em class="def-tip">未满7天余额：<i></i></em><em class="pay-tip">手续费：<i></i></em></p>
        <a href="javascript:void(0);" class="fm-btn" id="confirm_btn">确定</a>
        <p class="wd-rule"><a href="#">《提现规则》</a></p>
    </div>
    <div class="load">
        <span></span>
    </div>
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../dist/accountCenter/withdraw.js"></script>

</body>
</html>