<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank移动理财管家——518专属日</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170518/buyDetail.css">
</head>
<body>
    <div class="buy-warp">
        <a href="javascript:void;" class="buy-logo"></a>
        <div class="buy-head">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
        </div>
        <div class="buy-cont">
            <div class="buy-info">
                <h2 class="buy-tit"><span>月月增</span>专属福利</h2>
                <div class="buy-form">
                    <ul class="buy-info-list">
                        <li>
                            <p class="f01">7%-9%</p>
                            <span>预期年化收益</span>
                        </li>
                        <li>
                            <p id="balance">0</p>
                            <span>可用余额</span>
                        </li>
                        <li>
                            <p id="residual">0</p>
                            <span>剩余份额</span>
                        </li>
                    </ul>
                    <div class="fm-price">
                        <input type="number" value="" placeholder="5000元起投，最高可投10万元" id="fm_price">
                    </div>
                    <p class="fm-note">最高预期收益：<span id="money">0.00元</span></p>
                    <div class="fm-btn" id="buy_btn">确认</div>
                </div>
            </div>
        </div>
        <div class="buy-record">
            <h3 class="record-tit">购买记录</h3>
            <div class="record-info">
                <div class="record-info-head">
                    <p>月月增</p>
                    <a href="javascript:void(0);"></a>
                </div>
                <ul class="buy-info-list">
                    <li>
                        <p id="buyAmount">0</p>
                        <span>投资金额</span>
                    </li>
                    <li>
                        <p class="f02" id="buyIncome">0</p>
                        <span>最高预期收益</span>
                    </li>
                    <li>
                        <p>7%-9%</p>
                        <span>预期年化收益</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="load">
        <span></span>
    </div>
    <div class="dlg-mask">
        <div class="dlg-info"></div>
    </div>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170518/buyDetail.js"></script>

</body>
</html>