<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——518理财节</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170518/finance518.css">
</head>
<body>
    <img src="../../../lib/special518/finance_01.png" width="100%" height="auto" alt="finance518" />
    <img src="../../../lib/special518/finance_02.png" width="100%" height="auto" alt="finance518" />
    <div class="btn-rule"></div>
    <div class="finance-ranking">
        <img src="../../../lib/special518/finance_03.png" width="100%" alt="finance518" style="height: 7.12rem;" />
        <ul id="ranking">
        </ul>
    </div>
    <div class="ranking-my-rank">
        <img src="../../../lib/special518/finance_04.png" width="100%" height="auto" alt="finance518" />
        <div class="my-rank" id="myRank">
            <p class="login">您尚未登录</p>
        </div>
    </div>
    <img src="../../../lib/special518/finance_05.png" width="100%" height="auto" alt="finance518" />

    <!--规则-->
    <div class="dlg-mask" id="dlg_rule_mask">
        <div class="popbox pop-rule">
            <div class="pop-rule-top"><img src="../../../lib/special518/rule_bg.png" alt="special518"></div>
            <div class="pop-rule-con">
                <ul>
                    <li>
                        <span>活动时间：</span>
                        <p>
                            <span>5月18日10:00~5月19日 23:59（2天）</span>
                        </p>
                    </li>
                    <li>
                        <span>活动产品：</span>
                        <p>
                            <span>9盈宝90天、365天、720天产品</span>
                        </p>
                    </li>
                    <li>
                        <span>活动规则：</span>
                        <p>1、活动期间，参与购买指定9盈宝系列活动产品，即可享受“<span>收益翻倍到端午</span>”特别福利；</p>
                        <p>2、“<span>收益翻倍到端午</span>”9盈宝分别可享收益率的基础倍数为：90天58%、365天218%、720天518%，翻倍时间为2017年5月21日 至 2017年5月30日（10天）；</p>
                        <p>3、截止至5月19日23:59，“<span>518财气榜收益翻上翻</span>”<span>财气值</span>前50名用户，期间所获翻倍收益率可享<span>奖励翻倍</span>， 105%至最高200%翻上翻。</p>
                    </li>
                </ul>
            </div>
            <div class="pop-rule-bottom"><img src="../../../lib/special518/rule_bg.png" alt="special518"></div>
        </div>
    </div>

    <div class="mask"></div>
    <script type="text/javascript" src="../../../lib/rem.js"></script>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170518/finance518.js"></script>
    <script type="text/javascript" async defer src="https://hm.baidu.com/hm.js?d17a4a727acad0180720d6803315b07b"></script>
</body>
</html>