<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——福利社</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/welfareService/welfareHome.css">
</head>
<body>
    <div class="wh-head">
        <a class="my-integral" href="javascript:void(0);">我的积分:&nbsp;&nbsp;<span><em id="my_integtal">--</em>点</span></a>
        <div class="earn-integral">
            <a href="javascript:void(0);">赚积分</a>
            <p>7天内已获积分<span id="get_integral">--</span>点</p>
        </div>
    </div>
    <div class="lottery-cont">
        <div class="lottery-tit">
            <h2>积分抽奖</h2>
            <a href="javascript:void(0);">抽奖说明</a>
        </div>
        <div class="lottery-info">
            <div class="lottery-btn">
                <span class="btn">立即抽奖</span><br/>200积分/次
            </div>
            <ul class="lottery-list">
            </ul>
            <img src="../../lib/welfareService/lottery-bg.png" width="90%" height="auto" class="lottery-bg">
        </div>
        <div class="wh-award">
            <ul id="whAward">
            </ul>
        </div>
    </div>
    <div class="load">
        <span></span>
    </div>
    <img src="../../lib/welfareService/lottery-dlog.png" width="100%" height="auto" id="lottery_bg" alt="">
<script src="../../lib/zepto.min.js"></script>
<script src="../../dist/welfareService/welfareHome.js"></script>

</body>
</html>