<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——94管家</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20161212/double12.css">
</head>
<body>
        <div class="dbhl-mod1">
            <img src="../../../lib/double12/dbhl-01.png" alt="db1201" width="100%" height="auto">
        </div>
        <div class="dbhl-box list01">
            <div class="dbhl-list">
                <h2>第一场：1200 大转盘（14:00-15:00）</h2>
                <p><em>1</em><span>截止至15:00，双12当天购买9盈宝90天(含90天）以上定期产品，单笔投资每满1200元
    的用户，即可参加转盘抽奖，不限抽奖次数。</span></p>
                <p><em>2</em><span>奖品：120元京东购物卡、12元京东购物卡、12元现金红包、0.5加息券、1加息券</span></p>
            </div>
        </div>
        <div class="dbhl-award" id="award">
            <div data-light="1" class="light lgt-1"></div>
            <div data-light="2" class="light lgt-2"></div>
            <div data-light="3" class="light lgt-3"></div>
            <div data-light="4" class="light lgt-4"></div>
            <div data-light="5" class="light lgt-5 on"></div>
            <div data-light="6" class="light lgt-6 on"></div>
            <div data-light="7" class="light lgt-7 on"></div>
            <div data-light="8" class="light lgt-8"></div>
            <div data-light="9" class="light lgt-9"></div>
            <div data-light="10" class="light lgt-10"></div>
            <div data-light="11" class="light lgt-11"></div>
            <div data-light="12" class="light lgt-12"></div>
            <div data-light="13" class="light lgt-13 on"></div>
            <div data-light="14" class="light lgt-14 on"></div>
            <div data-light="15" class="light lgt-15 on"></div>
            <div data-light="16" class="light lgt-16"></div>
            <div data-light="17" class="light lgt-17"></div>
            <div data-light="18" class="light lgt-18"></div>
            <img src="../../../lib/double12/dbhl-02.png" alt="award" width="100%" height="auto">
        </div>
        <div class="dbhl-draw" id="draw_btn">
            <img src="../../../lib/double12/dbhl-03.png" alt="draw" width="100%" height="auto">
        </div>
        <div class="dbhl-box">
            <div class="dbhl-list">
                <h2>第二场：双12大礼包（22:00）</h2>
                <p><em>1</em><span>截止至22:00，双12当天购买9盈宝90天以上(含90天）定期产品，当天累计投资最高的
    前12名，可获得双12大礼包；</span></p>
                <p><em>2</em><span>礼包详情：土豪榜第一名 苹果iphone7 32G、第二名 海信英寸智能电视、第三名 浦桑
    尼克Summer P2机器人、第四名Galanz/格兰仕微波炉1台、第五名小熊（Bear）高温
    除菌加湿器1台、第六名飞利浦（PHILIPS）电饭煲1台、第七、八、九名 120元京东购
    物卡、第十-十二名 12元京东购物卡。(奖品以实物为准）</span></p>
            </div>
        </div>
        <div class="dbhl-show">
            <div class="show-tit">
                <i></i>
                <span>礼品展示</span>
                <i></i>
            </div>
            <div class="show-info">
                <img src="../../../lib/double12/dbhl-04.png" alt="award" width="100%" height="auto">
            </div>
        </div>
        <div class="dbhl-tyrants">
            <h3 class="tyrants-tit">
                <img src="../../../lib/double12/dbhl-05.png" alt="award" width="100%" height="auto">
            </h3>
            <ul class="tyrants-info">
                <li>
                    <span>排名</span>
                    <span>手机号</span>
                    <span>投资金额</span>
                </li>
                <li>
                    <span class="rank"><img src="../../../lib/double12/rank01.png" alt="" width="22" height="auto"></span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank"><img src="../../../lib/double12/rank02.png" alt="" width="22" height="auto"></span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank"><img src="../../../lib/double12/rank03.png" alt="" width="22" height="auto"></span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank">4</span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank">5</span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank">6</span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank">7</span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank">8</span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank">9</span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank">10</span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank">11</span>
                    <span>--</span>
                    <span>--</span>
                </li>
                <li>
                    <span class="rank">12</span>
                    <span>--</span>
                    <span>--</span>
                </li>
            </ul>
        </div>
        <div class="dbhl-tip">
            <h4>温馨提示：</h4>
            <p><em>■</em><span>参与第一场活动的用户，可继续累计享受第二场活动福利；</span></p>
            <p><em>■</em><span>红包、加息券可用于双12当天购买9盈宝90天（含90天）以上定期产品使用；</span></p>
            <p><em>■</em><span>获得实物奖品的用户将由94官方工作人员联系您，并在7个工作日内寄出；</span></p>
            <p><em>■</em><span>本活动最终解释权归94所有。</span></p>
        </div>
        <div class="g-d-dialog" id="dlg_expect">
            <div class="dialog-mod">
                <em class="dialog-close"></em>
                <img src="../../../lib/double12/expect.png" alt="expect" width="100%" height="auto">
            </div>
        </div>
        <div class="g-d-dialog dlg-win" id="dlg_win" style="display:none;">
            <div class="dialog-win">
                <div class="win-sty"></div>
                <p class="win-txt"></p>
                <div class="win-tell"></div>
                <img src="../../../lib/double12/win.png" alt="win" width="100%" height="auto">
            </div>
        </div>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/double12.js"></script>

</body>
</html>