html {
    background-color: #f2f2f2;
}
.sfd-head{
    padding: 23px 0 26px;
    text-align: center;
}
.sfd-tit span{
    margin-left: 70px;
    font-size: 2.1rem;
    color: #ff5959;
    vertical-align: sub;
}
.sfd-tit em{
    margin-left: 19px;
    line-height: 20px;
    color: #ff5959;
    text-align: center;
}
.sfd-tit em:after{
    position: relative;
    left: -44px;
    top: 5px;
    z-index: -1;
    display: inline-block;
    content: '';
    width: 55px;
    height: 20px;
    background-color: #fff;
    -webkit-transform: skewX(-28deg);
}
.sfd-head p{
    padding-top: 10px;
    color: #b2b2b2;
}
.sf-info{
    background-color: #fff;
    font-size: 1.4rem;
}
.sf-info li{
    display: -webkit-box;
     padding: 0 15px;
    line-height: 48px;
}
.sf-info .sfd-bb{
    border-bottom: 1px solid #e5e5e5;
}
.sf-info span{
    display: block;
    -webkit-box-flex:1;
    text-align: right;
}
.sf-info a{
    color: #4c61f9;
}
.earn-f{
    color: #ff5959;
}
.fm-btn {
    display: block;
    line-height: 45px;
    border-radius: 5px;
    margin: 29px 15px 13px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    background-color: #ff5959;
}
.sfd-tip{
    color: #b2b2b2;
    text-align: center;
}