body{
    background-color: #fff;
}
.unopen{
    width: 234px;
    height: 195px;
    margin: 99px auto 15px;
    background: url(../../img/unOpen.jpg) no-repeat center center;
    background-size: contain;
}
.uninfo{
    font-size: 2.0rem;
    text-align: center;
}