<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——安全保障</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=20160601" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/company/about.css">
    <script type="text/javascript" src="../../lib/rem.js"></script>
</head>
<body>
    <div class="swiper-container about">
        <div class="swiper-wrapper">
            <div class="swiper-slide about-1">
                <div class="logo"></div>
                <span class="title">公司简介</span>
                <div class="content">
                    <p class="list"><i class="medal"></i><span>坐落于国际金融中心上海</span></p>
                    <p class="list"><i class="medal"></i><span>专注于互联网金融的创新与研发</span></p>
                    <p class="list"><i class="medal"></i><span>定位于移动理财管家</span></p>
                </div>
                <img src="../../lib/company/about-1-pic.png" width="100%" alt="公司简介" class="pic"/>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide about-2">
                <div class="swiper-horizontal" id="prize">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide about-2-1" style="display: none">
                            <span class="title">公司背景</span>
                            <span class="bg"><i class="flag"></i></span>
                            <img src="../../lib/company/about-2-1-pic.png" alt="公司背景" class="pic"/>
                            <div class="content">
                                <p class="list"><i class="medal"></i><span>注册资金1亿元，上海股交所挂牌企业</span></p>
                            </div>
                        </div>
                        <div class="swiper-slide about-2-2" style="display: none">
                            <span class="title">公司背景</span>
                            <span class="bg"><i class="flag"></i></span>
                            <img src="../../lib/company/about-2-2-pic.png" alt="公司背景" class="pic"/>
                            <div class="content">
                                <p class="list "><i class="medal"></i><span>中华全国工商业联合会、上海市工商业联合会、上海市商会会员单位</span></p>
                            </div>
                        </div>
                        <div class="swiper-slide about-2-3" style="display: block;">
                            <span class="title">公司背景</span>
                            <span class="bg"><i class="flag"></i></span>
                            <img src="../../lib/company/about-2-3-pic.png" alt="公司背景" class="pic"/>
                            <div class="content">
                                <p class="list "><i class="medal"></i><span>上海金融信息行业协会副会长单位</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide about-3">
                <div class="swiper-horizontal" id="honour">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide about-3-1">
                            <span class="title">荣誉资质</span>
                            <span class="bg"></span>
                            <img src="../../lib/company/about-3-1-pic.png" alt="荣誉资质" class="pic"/>
                            <div class="content">
                                <p class="list"><i class="medal"></i><span>艾瑞网“金瑞奖-最佳成长奖”</span></p>
                            </div>
                        </div>
                        <div class="swiper-slide about-3-2">
                            <span class="title">荣誉资质</span>
                            <span class="bg"></span>
                            <img src="../../lib/company/about-3-2-pic.png" alt="荣誉资质" class="pic"/>
                            <div class="content">
                                <p class="list "><i class="medal"></i><span>“2015年度互联网金融责任品牌”奖杯</span></p>
                            </div>
                        </div>
                        <div class="swiper-slide about-3-3">
                            <span class="title">荣誉资质</span>
                            <span class="bg"></span>
                            <img src="../../lib/company/about-3-3-pic.png" alt="荣誉资质" class="pic"/>
                            <div class="content">
                                <p class="list "><i class="medal"></i><span>“惠普金融传播奖”证书</span></p>
                            </div>
                        </div>
                        <div class="swiper-slide about-3-3">
                            <span class="title">荣誉资质</span>
                            <span class="bg"></span>
                            <img src="../../lib/company/about-3-4-pic.png" alt="荣誉资质" class="pic"/>
                            <div class="content">
                                <p class="list "><i class="medal"></i><span>“金典奖_全国互联网金融理财公众满意   十佳典范平台”证书</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide about-4">
                <span class="title">公司产品</span>
                <div class="content">
                    <p class="list"><i class="medal"></i><span>灵活理财——灵活无忧，随时赎回</span></p>
                    <p class="list"><i class="medal"></i><span>浮动理财——优化组合，分散风险</span></p>
                    <p class="list"><i class="medal"></i><span>定期理财——精选理财，稳定安心</span></p>
                    <p class="list"><i class="medal"></i><span>阳光私募——私募资讯，高端专享</span></p>
                </div>
                <div class="pic">
                    <img src="../../lib/company/about-4-pic.png" width="100%" alt="公司产品"/>
                    <i class="hand"></i>
                    <i class="calendar"></i>
                </div>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide about-5">
                <span class="title">安全保障</span>
                <div class="content">
                    <p class="list"><i class="medal"></i><span>风险保障计划</span></p>
                    <p class="list"><i class="medal"></i><span>同卡进出</span></p>
                    <p class="list"><i class="medal"></i><span>资金安全</span></p>
                    <p class="list"><i class="medal"></i><span>三方支付 资金监管</span></p>
                    <p class="list"><i class="medal"></i><span>实力技术 保障安全</span></p>
                    <p class="list"><i class="medal"></i><span>专业的评估管理体系</span></p>
                    <p class="list"><i class="medal"></i><span>合规合法性</span></p>
                </div>
                <div class="pic">
                    <img src="../../lib/company/about-5-pic.png" width="100%" alt="公司产品" />
                    <i class="bao"></i>
                </div>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide about-6">
                <span class="title">联系我们</span>
                <div class="content">
                    <p class="list" id="call"><i class="phone"></i><span>全国热线：<em>400-969-0390</em></span></p>
                    <!-- <p class="list"><i class="fax"></i><span>传真： 021-8012 2273</span></p> -->
                    <p class="list"><i class="email"></i><span>E-mail:  contact@94bank.com</span></p>
                    <!-- <p class="list"><i class="coords"></i><span>地址：上海市长宁区中山西路1055号A座1206室</span></p> -->
                </div>
                <div class="pic">
                    <img src="../../lib/company/about-6-pic.png" width="100%" alt="公司产品" />
                    <i class="msg"></i>
                    <i class="at"></i>
                    <i class="arrow"></i>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../dist/company/about.js"></script>

</body>
</html>