<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——发现</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=20160601" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/company/discovery.css">
</head>
<body>
    <div class="dc-nav">
        <nav class="nav-info">
        </nav>
    </div>
    <div class="swiper-container">
       <div class="swiper-wrapper">
       </div>
       <div class="swiper-pagination">
       </div>
    </div>
    <div class="dc-life">
        <a href="https://mbank.spdbccc.com.cn/creditcard/indexActivity.htm?data=000126">
            <div class="life-ico">
                <img src="../../lib/discovery/life.png" alt="discovery" width="auto" height="100%">
            </div>
            <div class="life-name">
                <h2>信用生活</h2>
                <p>信用卡快速申请</p>
            </div>
        </a>
        <a href="http://imgs.94bank.com/web/apph5/happylife.html">
            <div class="life-ico">
                <img src="../../lib/discovery/help.png" alt="discovery" width="auto" height="100%">
            </div>
            <div class="life-name">
                <h2>生活小助手</h2>
                <p>温馨服务 便捷生活</p>
            </div>
        </a>
    </div>
    <div class="dc-game" id="gameList">
        <h1>推荐游戏</h1>
        <ul>
            <li>
                <div class="game-pic">
                    <img src="../../lib/discovery/racing.png" alt="discovery" width="100%" height="auto">
                </div>
                <div class="game-name">
                    <h3>94疯狂赛车<span class="pop">人气</span></h3>
                    <p>路障？红包？小9别跑</p>
                </div>
                <a href="#" class="enter">进入</a>
            </li>
            <li>
                <div class="game-pic">
                    <img src="../../lib/discovery/dodge.png" alt="discovery" width="100%" height="auto">
                </div>
                <div class="game-name">
                    <h3>94闪躲高手</h3>
                    <p>眼神犀利？手速够快，来94bank玩闪躲</p>
                </div>
                <a href="#" class="enter">进入</a>
            </li>
            <li>
                <div class="game-pic">
                    <img src="../../lib/discovery/brain.png" alt="discovery" width="100%" height="auto">
                </div>
                <div class="game-name">
                    <h3>94最强大脑</h3>
                    <p>你的左右脑协调么？</p>
                </div>
                <a href="#" class="enter">进入</a>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../dist/company/discovery.js"></script>

</body>
</html>