<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——安全保障</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=20160601" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/company/safety.css">
    <script type="text/javascript" src="../../lib/rem.js"></script>
</head>
<body>
    <div class="swiper-container safety">
        <div class="swiper-wrapper">
            <!-- <div class="swiper-slide safety-1">
                <div class="safety-bg1 bg"></div>
                <div class="icon">
                    <i class="coin"></i>
                    <span class="circle-box">
                        <i class="circle12"></i>
                    </span>
                    <span class="circle-inner">
                        <i class="circle10"></i>
                    </span>
                    <span class="circle-box">
                        <i class="circle6"></i>
                    </span>
                </div>
                <div class="fan">
                    <span class="title"></span>
                </div>
                <div class="cross">
                    <p class="text">
                        当投资人投资的银行理财项目出现严重逾期时，94bank将向投资人垫付此笔投资未归还的剩余本金和利息，从而为投资人营造一个安全的投资环境
                    </p>
                </div>
                <span class="move-ico-up"></span>
            </div> -->
            <div class="swiper-slide safety-2">
                <div class="safety-bg2 bg"></div>
                <div class="icon">
                    <i class="coin"></i>
                    <span class="icon-bg"></span>
                    <span class="circle-inner">
                        <i class="shield"></i>
                    </span>
                    <span class="circle-inner">
                        <i class="circle10"></i>
                    </span>
                    <span class="circle-box">
                        <i class="circle6"></i>
                    </span>
                </div>
                <div class="fan fan84">
                    <span class="title"></span>
                </div>
                <div class="cross">
                    <p class="text">
                        94bank通过第三方支付平台，采用同卡进出原则，投资人仅能通过充值时使用的本人银行卡提现，确保资金回路正确，切实保障投资人资金安全
                    </p>
                </div>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide safety-3">
                <div class="safety-bg1 bg"></div>
                <div class="icon">
                    <span class="icon-bg"></span>
                    <div class="circle-inner">
                        <i class="star"></i>
                    </div>
                    <i class="coin"></i>
                    <span class="circle-box">
                        <i class="circle12"></i>
                    </span>
                    <span class="circle-box">
                        <i class="circle6"></i>
                    </span>
                </div>
                <div class="fan fan84">
                    <span class="title"></span>
                </div>
                <div class="cross">
                    <p class="text">
                        对接三方支付，对投资人的资金全程监控以杜绝资金挪作他用；对接传统稳健型的理财产品，并全程跟踪为用户提供优质健全的服务
                    </p>
                </div>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide safety-4">
                <div class="swiper-horizontal">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide safety-4-1">
                            <div class="safety-bg2 bg"></div>
                            <div class="icon">
                                <span class="icon-bg">
                                    <span class="line-box">
                                        <i class="line"></i>
                                    </span>
                                </span>
                                <span class="circle-box">
                                    <i class="user"></i>
                                </span>
                                <span class="circle-box">
                                    <i class="circle12"></i>
                                </span>
                                <span class="circle-box">
                                    <i class="circle10"></i>
                                </span>
                                <span class="circle-box">
                                    <i class="circle6"></i>
                                </span>
                            </div>
                            <div class="sub-title">数据信息安全</div>
                            <div class="fan fan84">
                                <span class="title"></span>
                            </div>
                            <div class="cross">
                                <p class="text">
                                    信息安全技术SSL加密传输方式，128位数据加密技术，保障用户信息和交易数据真实、安全、私密
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide safety-4-2">
                            <div class="safety-bg1 bg"></div>
                            <div class="icon">
                                <span class="icon-bg"></span>
                                <i class="star"></i>
                                <span class="circle-box">
                                    <i class="circle12"></i>
                                </span>
                                <span class="circle-box">
                                    <i class="circle8"></i>
                                </span>
                                <span class="circle-box">
                                    <i class="circle6"></i>
                                </span>
                            </div>
                            <div class="sub-title">网络信息安全</div>
                            <div class="fan fan84">
                                <span class="title"></span>
                            </div>
                            <div class="cross">
                                <p class="text">
                                    三层防火墙隔离系统的访问层、应用层和数据层集群，有效的入侵防范及容灾备份
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide safety-4-3">
                            <div class="safety-bg2 bg"></div>
                            <div class="icon">
                                <span class="icon-bg">
                                    <i class="star1 animate-twinkle"></i>
                                    <i class="star2 animate-twinkle"></i>
                                </span>
                                <span class="circle-box">
                                    <i class="circle16"></i>
                                </span>
                                <span class="circle-box">
                                    <i class="circle8"></i>
                                </span>
                                <span class="circle-box">
                                    <i class="circle6"></i>
                                </span>
                            </div>
                            <div class="sub-title">隐私安全</div>
                            <div class="fan fan84">
                                <span class="title"></span>
                            </div>
                            <div class="cross">
                                <p class="text">
                                    采用先进的加密技术，用户信息进行高强度的加密处理，绝不会将您的个人信息以任何形式透露给第三方
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide safety-5">
                <div class="safety-bg1 bg"></div>
                <div class="icon">
                    <span class="icon-bg"></span>
                    <i class="star"></i>
                    <span class="circle-box">
                        <i class="circle12"></i>
                    </span>
                    <span class="circle-box">
                        <i class="circle10"></i>
                    </span>
                    <span class="circle-box">
                        <i class="circle6"></i>
                    </span>
                </div>
                <div class="fan fan84">
                    <span class="title"></span>
                </div>
                <div class="cross">
                    <p class="text">
                        94拥有完善的合作机构评估体系，对理财产品筛选作定性评估和定量评估；产品发布后，94bank风控团队对产品实行跟踪管理
                    </p>
                </div>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide safety-6">
                <div class="safety-bg2 bg"></div>
                <div class="icon">
                    <span class="icon-bg">
                        <i class="star1"></i>
                        <i class="star2"></i>
                    </span>
                    <span class="circle-box">
                        <i class="circle12"></i>
                    </span>
                    <span class="circle-box">
                        <i class="circle10"></i>
                    </span>
                    <span class="circle-box">
                        <i class="circle6"></i>
                    </span>
                </div>
                <div class="fan">
                    <span class="title"></span>
                </div>
                <div class="cross">
                    <p class="text">
                        国家大力支持互联网金融的发展，94资金对接传统稳健型理财产品，标的清晰透明受国家监管；94是首批获得互联网金融信息服务营业执照的企业
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../dist/company/safety.js"></script>

</body>
</html>