<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——积分攻略</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/integralCenter/integralStrategy.css">
</head>
<body>
    <div class="is-info">
            <h2>1、如何获取积分?</h2>
            <p>①每天登录签到可随机获得6积分；</p>
            <p>②投资新手宝、优选计划及9赢宝90天，可获得投资金额的0.8%的积分；投资9赢宝180天及365天，可获得投资金额的1%的积分；投资基金宝可获得投资金额的0.2%的积分；投资银行宝无积分；</p>
            <p>③94将持续丰富积分的获得渠道，近期将更新更多可兑换的商品。</p>
            <h2>2、如何使用积分</h2>
            <p>在积分中心页，点击"去抽奖"，可跳转至幸运大转盘页面，消耗一定额度的积分可获得话费、流量、现金等奖励。</p>
            <h2>3、积分有效期</h2>
            <p>会员积分采用年度清零方式，会员该年得到的积分可使用到当年的12月31日，逾期未使用的积分将于到期后自动清零。<br>
（如：2017年度获得的积分，有效期至2017年12月31日，于2018年1月1日00:00自动清零）</p>
    </div>
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../dist/integralCenter/integralStrategy.js"></script>

</body>
</html>