html{
    background-color: #f2f2f2;
}
.pft-head {
    display: -webkit-box;
    padding: 39px 0 37px;
    background-color: #fff;
}
.pft-list {
    width: 210px;
    text-align: center;
}
.pft-line {
    display: block;
    -webkit-box-flex :1;
    margin: 12px -105px 0;
    height: 2px;
    background-color: #ccc;
}
.pft-list span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 100%;
    background-color:#ccc;
    color: #fff;
    text-align: center;
}
.pft-list p{
    padding-top: 5px;
    font-size: 1.4rem;
}
.pft-head .cur{
    background-color: #ffab49;
}
.pft-tit{
    line-height: 28px;
    padding: 3px 15px 0 15px;
    color: #b2b2b2;
    font-size: 1.2rem;
}
.fm-form {
    background-color: #fff;
}
.fm-form label {
    display: -webkit-box;
    -webkit-box-align: center;
    padding: 17px 15px 8px 15px;
    border-bottom: 1px solid #e5e5e5;
}
.fm-tit{
    display: block;
    width: 66px;
    font-size: 1.4rem;
}
.fm-input {
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    height: 30px;
}
.fm-input input {
    display: block;
    -webkit-box-flex:1;
    border: none;
    font-size: 1.4rem;
    color: #333;
}
.clear {
    display: none;
    width: 30px;
    height: 30px;
    background: url(../../img/clear.png) no-repeat center center;
    background-size: 15px 15px;
}
.error-tip {
    height: 20px;
    padding: 8px 15px 0 15px;
    color: #ff6666;
    font-size: 1.4rem;
}
.fm-btn {
    display: block;
    line-height: 45px;
    border-radius: 5px;
    margin: 14px 15px 0 15px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    background-color: #ff5959;
}
