<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——元宵节</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170211/yuanXiao.css">
</head>
<body>
    <div class="yx-cont">
        <span class="yx-rule"></span>
        <span class="yx-openeat"></span>
        <span class="yx-rank"></span>
        <p class="yx-eat">我还能吃<span class="eat-num">8</span>颗汤圆</p>
        <p class="yx-ft">本活动最终解释权归94bank所有</p>
        <div class="hot-mod">
            <img src="../../../lib/yuanxiao/hot.png" alt="yuanxiao" width="100%" height="auto">
        </div>
        <img src="../../../lib/yuanxiao/yx01.png" alt="yuanxiao" width="100%" height="auto">
        <img src="../../../lib/yuanxiao/yx02.png" alt="yuanxiao" width="100%" height="auto">
        <img src="../../../lib/yuanxiao/yx03.png" alt="yuanxiao" width="100%" height="auto">
    </div>
    <div class="dlg-wrap" id="rule_wrap">
        <div class="dlg-bod">
            <em class="bd-lt"></em><p><i class="rd-lt"></i><i class="rd-rt"></i></p><em class="bd-rt"></em>
        </div>
        <div class="dlg-info">
            <p>活动时间：2月11日00:00~24:00</p>
            <p>活动规则：</p>
            <ul class="rl-ul">
                <li>
                    <label>1、</label>
                    <div class="rl-v">
                        <p>动期间，每购买任意9盈宝产品满1000元即可获得相应积分和一颗bonus元宵，咬开元宵可额外获得随机积分：-1、0、5、10、20、30</p>
                        <table class="rl-tab">
                            <tr>
                                <th>9盈宝产品</th>
                                <th>每满1000元获得积分</th>
                                <th>每满1000元随机获得积分</th>
                            </tr>
                            <tr>
                                <td>90天</td>
                                <td>20</td>
                                <td rowspan="3">-1、0、5、<br>10、20、30</td>
                            </tr>
                            <tr>
                                <td>180天</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>365天</td>
                                <td>80</td>
                            </tr>
                        </table>
                        <p>（例：小明购买9盈宝90天、180天、365天产品各1000元，获得原始积分150分，咬开3颗元宵得到数字-1，10，20，则最终积分为179分）</p>
                    </div>
                </li>
                <li>
                    <label>2、</label>
                    <div class="rl-v">邀请好友注册投资任意产品，即可获得一颗鸡祥如意大汤圆，内含随机30-100积分（每人最多可邀请10位好友）；</div>
                </li>
                <li>
                    <label>3、</label>
                    <div class="rl-v">
                        <p>截止至2月11日24:00，根据当天累计获得的最终积分大小排名</p>
                        <p class="fbig">前七名用户可获得幸运翻倍福利！积分越高福利越大！</p>
                    </div>
                </li>
                <li>
                    <label>4、</label>
                    <div class="rl-v">活动结束后，排名7名之后的用户，积分将会自动兑换成现金返到用户94账户余额（兑换比例：50积分=1元）。</div>
                </li>
            </ul>
            <p>福利详情：</p>
            <ul class="rl-ul">
                <li>
                    <label>●</label>
                    <div class="rl-v">
                        <p>积分排行前七名的用户可获得当天投资9盈宝产品总额的翻倍奖励（第一名至第七名依次翻倍数为8、7、6……2）</p>
                        <p>例：小明活动期间积分8888排名第三，他所获得的幸运倍数为6，最终奖励计算公式为：6*当天投资9盈宝总额／2000;</p>
                    </div>
                </li>
                <li>
                    <label>●</label>
                    <div class="rl-v">奖励统一发放时间：活动结束后3个工作日内</div>
                </li>
                <li>
                    <label>●</label>
                    <div class="rl-v">活动最终解释权归94bank所有。</div>
                </li>
            </ul>
        </div>
        <div class="dlg-bod">
            <em class="bd-lt"></em><p><i class="rd-lt"></i><i class="rd-rt"></i></p><em class="bd-rt"></em>
        </div>
    </div>
    <div class="sta-dlg" id="win_prize">
        <div class="taste-pic"></div>
        <div class="spoon"></div>
        <p class="prize-tit">吃到一颗<span id="taste_name"></span>汤圆</p>
        <div class="prize-num">获得<span id="taste_num"></span>积分</div>
    </div>
    <div class="dlg-allnum">
        <p>目前拥有</p>
        <p><span class="all-num"></span>分</p>
    </div>
    <div class="dlg-wrap" id="dlg_wrap">
        <div class="dlg-bod">
            <em class="bd-lt"></em><p><i class="rd-lt"></i><i class="rd-rt"></i></p><em class="bd-rt"></em>
        </div>
        <div class="dlg-info" id="dlg_cont"></div>
        <div class="dlg-bod">
            <em class="bd-lt"></em><p><i class="rd-lt"></i><i class="rd-rt"></i></p><em class="bd-rt"></em>
        </div>
    </div>
    
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170211/yuanXiao.js"></script>
</body>
</html>