<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——514母亲节</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170513/motherDay.css">
</head>
<body>
    <div class="mt-banner">
        <span class="rule"></span>
        <img src="../../../lib/motherDay/mt_01.jpg" width="100%" height="auto" alt="motherDay" />
    </div>
    <ul class="mt-prize">
        <li class="lv1" data-pize="10元现金">
            <span></span>
        </li>
        <li class="lv2" data-pize="西餐餐具套装">
            <span></span>
        </li>
        <li class="lv3" data-pize="德尔玛真空吸尘器">
            <span></span>
        </li>
        <li class="lv4" data-pize="苏泊尔电饭煲">
            <span></span>
        </li>
        <li class="lv5" data-pize="攀高智能颈椎按摩仪">
            <span></span>
        </li>
        <li class="lv6" data-pize="科沃斯扫地机器人">
            <span></span>
        </li>
        <li class="lv7" data-pize="索尼数码相机 黑色">
            <span></span>
        </li>
        <li class="lv8" data-pize="55寸4K LED电视机">
            <span></span>
        </li>
        <li class="lv9" data-pize="荣耀Magic全网通版">
            <span></span>
        </li>
        <img src="../../../lib/motherDay/mt_02.jpg" width="100%" height="auto" alt="motherDay" />
    </ul>
    <div class="mt-info">
        <span class="login-btn"></span>
        <div class="lg-info">
            <p>您当前爱心数值等级为: <span class="lg-leve"></span></p>
            <p id="prize">可获得<span></span>专享大奖一份</p>
        </div>
        <img src="../../../lib/motherDay/mt_03.jpg" width="100%" height="auto" alt="motherDay" />
    </div>
    <ul class="vip-list">
        <li>
            <span>“爱心数值”等级</span>
            <span>专享奖励</span>
            <span>爱心数值</span>
        </li>
        <li>
            <span>LV1</span>
            <span>10元现金</span>
            <span>≥200</span>
        </li>
        <li>
            <span>LV2</span>
            <span>西餐餐具套装</span>
            <span>≥1000</span>
        </li>
        <li>
            <span>LV3</span>
            <span>德尔玛真空吸尘器</span>
            <span>≥3000</span>
        </li>
        <li>
            <span>LV4</span>
            <span>苏泊尔电饭煲</span>
            <span>≥5000</span>
        </li>
        <li>
            <span>LV5</span>
            <span>攀高智能颈椎按摩仪</span>
            <span>≥8000</span>
        </li>
        <li>
            <span>LV6</span>
            <span>科沃斯扫地机器人</span>
            <span>≥15000</span>
        </li>
        <li>
            <span>LV7</span>
            <span>索尼数码相机 黑色</span>
            <span>≥20000</span>
        </li>
        <li>
            <span>LV8</span>
            <span>55寸4K LED电视机</span>
            <span>≥35000</span>
        </li>
        <li>
            <span>LV9</span>
            <span>荣耀Magic全网通版</span>
            <span>≥40000</span>
        </li>
    </ul>
    <p class="foot">活动最终解释权归94bank所有</p>
    
    <div class="dlg-mask" id="dlg_rule_mask">
        <div class="wrap-dlg">
            <p class="dlg-tit">活动详情</p>
            <ul class="rule-dlg-info">
                <li>活动时间：<span>5月14日10:00-5月15日 23:59（2天）</span></li>
                <li>活动产品：<span>9盈宝90天、365天、720天产品</span></li>
                <li>活动规则：
                    <p>1、活动期间，购买9盈宝产品所获得的“待收收益”即为“爱心数值”，“爱心数值”等级对应1份相应爱心奖励；</p>
                    <p>2、截止至5月15日23:59，根据最终累计“爱心数值”等级，每位参与者将获得1份相对应的爱心奖品奖励；</p>
                    <p>3、“爱心数值”等级越高所获奖励越大，每档奖励数量有限，先到先得；</p>
                    <p>4、所有奖励将于活动结束后统一发放，现金奖励会自动返还至用户的94bank账户中，实物奖励94bank工作人员将会统一联系获奖者，于10个工作日内寄出。</p>
                    <p>（一周内无法联系到本人将视为自动放弃）</p>
                </li>
                <li></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170513/motherDay.js"></script>
    <script type="text/javascript" async defer src="https://hm.baidu.com/hm.js?d17a4a727acad0180720d6803315b07b"></script>    
</body>
</html>