<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——专属日</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170218/exclusive.css">
</head>
<body>
    <div class="page idx">
        <img src="../../../lib/exclusive/idx.jpg" class="img-idx" id="img_idx01" width="100%" height="auto" alt="exclusive">
        <span class="idx-logo pg-scaleUpCenter" id="idx_logo1">
            <img src="../../../lib/exclusive/img-idx-logo.png" width="100%" height="auto" alt="exclusive">
        </span>
        <span class="idx-letter pg-scaleUpRotateCenter">
            <img src="../../../lib/exclusive/img-idx-letter.png" class="img-letter" width="100%" height="auto" alt="exclusive">
            <img src="../../../lib/exclusive/img-idx-open.png" class="img-open" width="100%" height="auto" alt="exclusive">
        </span>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide pg-0">
                <img src="../../../lib/exclusive/page-0-0.jpg" class="pg01-bg" width="100%" height="auto" alt="exclusive">
                <img src="../../../lib/exclusive/page-logo.png" class="page-logo" width="56%" height="auto" alt="exclusive">
                <img src="../../../lib/exclusive/page-0-1.png" class="pg-desc" width="100%" height="auto" alt="exclusive">
                <span class="stars sts01"></span>
                <span class="stars sts02"></span>
                <span class="stars sts03"></span>
                <span class="stars sts04"></span>
                <span class="stars sts05"></span>
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide pg-bg pg-1">
                <img src="../../../lib/exclusive/page-1-1.jpg" width="100%" height="auto" alt="exclusive">
                <img src="../../../lib/exclusive/page-1-2.png" class="pg-desc" width="95%" height="auto" alt="exclusive">
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide pg-bg pg-2">
                <img src="../../../lib/exclusive/page-2-1.jpg" width="100%" height="auto" alt="exclusive">
                <img src="../../../lib/exclusive/page-2-2.png" class="pg-desc" width="95%" height="auto" alt="exclusive">
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide pg-bg pg-3">
                <img src="../../../lib/exclusive/page-3-1.jpg" width="100%" height="auto" alt="exclusive">
                <img src="../../../lib/exclusive/page-3-2.png" class="pg-desc" width="95%" height="auto" alt="exclusive">
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide">
                <div class="login-bg" id="loginBox">
                    <img src="../../../lib/exclusive/login-bg.png" />
                    <img src="../../../lib/exclusive/bind-title.png" class="bind-title" />
                    <div class="login-box">
                        <div class="login">
                            <div class="form-item">
                                <i class="mobile"></i>
                                <label><input type="tel" id="mobile" placeholder="请输入您的手机号码" /></label>
                            </div>
                            <span class="line"></span>
                            <div class="form-item">
                                <i class="lock"></i>
                                <label><input type="password" id="password" placeholder="请输入您的登录密码" /></label>
                            </div>
                        </div>
                        <button type="button" id="login"><i></i></button>
                        <a href="/Member/ModifyPwd" class="forget"></a>
                    </div>
                </div>
                <div class="bind-bg" id="bindDone">
                    <i class="bind-done"></i>
                </div>
                <div class="bind-bg" id="bindFail">
                    <i class="bind-fail"></i>
                </div>
                <div class="bind-tip" id="bindTip"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170218/exclusive.js"></script>
</body>
</html>