<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——专属日</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170218/sign.css">
</head>
<body>
    <div class="sign-in">
        <div class="title">
            <img src="../../../lib/exclusive/boon-title.png"/>
            <button type="button" id="WhatBoon">什么是专属日福利</button>
        </div>
        <div class="sign-con" id="signCon">
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <div class="item">
                <i class="lock"></i>
            </div>
            <span class="sign-gift"></span>
        </div>
        <a href="javascript:;" id="signBtn" class="btn"><img src="../../../lib/exclusive/sign-btn.png" /></a>
        <div class="boon-tip" id="boonTip"></div>
    </div>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170218/sign.js"></script>
</body>
</html>