<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——五一活动</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170429/labourDay.css">
</head>
<body>
    <img src="../../../lib/labourDay/labour_01.jpg" width="100%" height="auto" alt="labourDay" />
    <div class="ac-fir">
        <span class="fir-draw"></span>
        <img src="../../../lib/labourDay/labour_02.jpg" width="100%" height="auto" alt="labourDay" />
    </div>
    <div class="ac-third">
        <em class="rule"></em>
        <em class="prize"></em>
        <span class="draw-one"></span>
        <span class="draw-all"></span>
        <div class="besides">您还有<span>10</span>次机会<br>投资每满5000元可增加1次挖金机会</div>
        <img src="../../../lib/labourDay/labour_03.jpg" width="100%" height="auto" alt="labourDay" />
    </div>
    <div class="ac-four">
        <em class="four-rule"></em>
        <img src="../../../lib/labourDay/labour_04.jpg" width="100%" height="auto" alt="labourDay" />
    </div>
    <div class="rank-cont" id="rank_cont">
        <ul class="rank-info" id="rank_info">
        </ul>
    </div>
    <div class="rank-foot">
        <div class="rank-mod" id="my_rank">
        </div>
        <img src="../../../lib/labourDay/labour_05.jpg" width="100%" height="auto" alt="labourDay" />
    </div>

    <img src="../../../lib/labourDay/labour_06.jpg" width="100%" height="auto" alt="labourDay" />
    <div class="load">
        <span></span>
    </div>
    <!-- 规则 -->
    <div class="dlg-mask" id="dlg_rule_mask">
        <div class="wrap-dlg">
            <div class="rule-dlg-bd"></div>
            <ul class="rule-dlg-info">
                <li>活动时间：<span>4月29日10:00~5月1日 23:59（3天）</span></li>
                <li>活动产品：<span>9盈宝90天、365天、720天产品</span></li>
                <li>活动规则：
                    <p>1、9盈宝系列产品投资满一定额度，金矿财富井喷，会涌现大量的奖品，iphone7plus、实用家电、现金、京东券、红包券送不停；</p>
                    <p>2、投资累计每满5000元的用户即可增加一次挖金矿机会，选择点击连挖十次按钮(<span>必中大礼!</span>)，投资越多，抢夺机会越多。</p>
                </li>
            </ul>
            <div class="rule-dlg-bd"></div>
        </div>
    </div>
    <div class="dlg-mask" id="dlg_rankrule_mask">
        <div class="wrap-dlg">
            <div class="rule-dlg-bd"></div>
            <ul class="rule-dlg-info">
                <li>活动时间：<span>4月29日10:00~5月4日 23:59（6天）</span></li>
                <li>活动产品：<span>9盈宝90天、365天、720天产品</span></li>
                <li>活动规则：
                    <p>1、投资9盈宝系列获得不同比例的勇士值。勇士值越高，排名越高，奖金越多；</p>
                    <p>2、投资9赢宝90天，可获勇士值=投资金额<span>*2</span></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投资9赢宝365天，可获勇士值=投资金额<span>*10</span></p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投资9赢宝720天，可获勇士值=投资金额<span>*24</span></p>
                    <p>3、排名100名以后的用户的活动福利率统一为150%</p>
                    <p>4、悬赏奖励现金公式=勇士值*活动福利率/5400</p>
                </li>
            </ul>
            <div class="rule-dlg-bd"></div>
        </div>
    </div>
    <div class="dlg-mask" id="dlg_prize_mask">
        <div class="wrap-dlg prize-dlg">
            <div class="prize-dlg-tit">挖金矿奖品</div>
            <div class="prize-dlg-box">
                <img src="../../../lib/labourDay/prize-all.png" width="232" height="auto" alt="labourDay" />
            </div>
        </div>
    </div>
    <div class="dlg-mask" id="dlg_first_mask">
        <div class="wrap-dlg firprize-dlg">
            <div class="fir-dlg-tit"></div>
            <div class="firprize-dlg-box">
                <div class="firprize-mod"></div>
                <div class="firprize-toggle">
                    <p class="firprize">仅4月29日当天投资，上限5万</p>
                    <div class="firprize-rule">
                        <p>活动规则：</p>
                        <p>1、仅4月29日当天充值的资金才可参与该活动。</p>
                        <p>2、当天投资（365天）产品，可额外享受5天5倍收益。</p>
                    </div>
                </div>
                <span class="dlg-btn" id="fir-dlg-btn">知道啦</span>
            </div>
        </div>
    </div>
    <!-- 挖10次  -->
    <div class="dlg-mask" id="dlg_big_mask">
        <div class="wrap-dlg bigprize-dlg">
            <div class="prize-dlg-tit">恭喜您</div>
            <div class="prize-dlg-box">
                <p class="prize-get">获得</p>
                <div class="bigprize-mod"></div>
                <span class="dlg-btn" id="bigprize-dlg-btn">知道啦</span>
            </div>
        </div>
    </div>
    <!-- 挖1次 -->
    <div class="dlg-mask" id="dlg_one_mask">
        <div class="wrap-dlg oneprize-dlg">
            <div class="prize-dlg-tit">恭喜您</div>
            <div class="prize-dlg-box">
                <p class="prize-get">获得</p>
                <p class="prize-head"></p>
                <div class="oneprize-mod"></div>
                <span class="dlg-btn" id="oneprize-dlg-btn">知道啦</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170429/labourDay.js"></script>
    <script type="text/javascript" async defer src="https://hm.baidu.com/hm.js?d17a4a727acad0180720d6803315b07b"></script>    
</body>
</html>