<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——邀请好友注册</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/member/friendRegister.css">
</head>
<body>
    <header class="freg-tip">您的好友<span id="friend-name"></span>邀请您来94bank领钱啦~</header>
    <div class="freg-ad">
       <img src="../../lib/img/freg-ad.jpg" alt="94bank" width="100%" height="auto">
    </div>
    <div class="form">
        <label>
            <em class="ico tel"></em>
            <input type="tel" placeholder="请输入手机号码" value="" maxlength="11" id="reg_tel">
            <i class="clear"></i>
        </label>
        <div class="freg-sec">
                <label>
                    <em class="ico code"></em>
                    <input type="text" placeholder="请输入图形验证码" value=""  maxlength="4" id="reg_imgcode">
                    <i class="clear"></i>
                    <img src="#" width="75" height="30" class="img-code" alt="图形验证码" ;>
                </label>
                <label>
                    <em class="ico telcode"></em>
                    <input type="number" placeholder="请输入短信验证码" value=""  id="freg-telcode">
                    <i class="clear"></i>
                    <em class="freg-getcode">获取验证码</em>
                </label>
                <label>
                    <em class="ico pwd"></em>
                    <input type="password" placeholder="请设置6-16位登录密码" value="" maxlength="16" id="reg_pwd">
                    <i class="clear"></i>
                    <em class="eyes"></em>
                </label>
        </div>
        <p class="error-tip"><span></span></p>
        <a href="javascript:void(0);" class="freg-btn fir-btn">立即注册</a>
    </div>
    <h2 class="freg-tit"><span>公司产品</span></h2>
    <div class="freg-pro-mod">
        <ul>
            <li>
                <div class="pro-ico alive"></div>
                <p>灵活无忧 随时赎回</p>
            </li>
            <li>
                <div class="pro-ico regular"></div>
                <p>精选理财 稳定安心</p>
            </li>
            <li>
                <div class="pro-ico float"></div>
                <p>优化组合 分散风险</p>
            </li>
            <li>
                <div class="pro-ico sunshine"></div>
                <p>私募资讯 高端专享</p>
            </li>
        </ul>
    </div>
    <h2 class="freg-tit"><span>公司背景</span></h2>
    <div class="swipe-cont" id="swipe_cont">
        <div class="swipe-wrap" id="swipe_wrap">
            <div class="imglist">
                <a href="javascript:void(0);"><img src="../../lib/img/freg-banner01.png" alt="1" width="100%" height="269"></a>
                <a href="javascript:void(0);"><img src="../../lib/img/freg-banner02.png" alt="2" width="100%" height="269"></a>
                <a href="javascript:void(0);"><img src="../../lib/img/freg-banner03.png" alt="3" width="100%" height="269"></a>
            </div>
        </div>
        <div class="pnav" id="pnav">
            <ul>
                <li class="focus"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <a href="#" class="reg_suc">
        <img src="../../lib/img/reg-suc.png" width="100%" height="auto" alt="注册成功">
    </a>
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../dist/member/friendRegister.js"></script>

</body>
</html>