<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——注册</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/member/register.css">
</head>
<body>
    <div class="reg-ad">
       <img src="../../lib/img/reg-ad.jpg" alt="94bank" width="100%" height="auto">
    </div>
    <div class="bd-form">
        <label>
            <em class="bd-ico tel"></em>
            <span class="bd-input">
                <input type="tel" placeholder="请输入手机号码" value="" maxlength="11" id="reg_tel">
                <i class="clear"></i>
            </span>
        </label>
        <div class="reg-cont">
            <div class="reg-mod sec-mod">
                <label>
                    <em class="bd-ico pwd"></em>
                    <span class="bd-input">
                        <input type="password" placeholder="请设置6-16位登录密码" value="" maxlength="16" id="reg_pwd">
                        <i class="clear"></i>
                        <em class="eyes"></em>
                    </span>
                </label>
                <label>
                    <em class="bd-ico tel"></em>
                    <span class="bd-input">
                        <input type="tel" placeholder="请输入邀请人手机号(选填)" value="" maxlength="11" id="reg_inviter">
                        <i class="clear"></i>
                    </span>
                </label>
                <p class="error-tip"><span></span></p>
                <a href="javascript:void(0);" class="bd-btn" id="reg_btn">完成注册</a>
                <p class="reg-pro">同意<a href="#">《注册协议》</a></p>
            </div>

            <div class="reg-mod fir-mod">
                <label>
                    <em class="bd-ico code"></em>
                    <span class="bd-input">
                        <input type="text" placeholder="请输入图形验证码" value=""  maxlength="4" id="reg_imgcode">
                        <i class="clear"></i>
                    </span>
                    <img src="#" width="75" height="30" class="img-code" alt="图形验证码" ;>
                </label>
                <label>
                    <em class="bd-ico code"></em>
                    <span class="bd-input">
                        <input type="number" placeholder="请输入短信验证码" value=""  id="reg-telcode">
                        <i class="clear"></i>
                    </span>
                    <em class="reg-getcode">获取验证码</em>
                </label>
                <p class="error-tip"><span></span></p>
                <a href="javascript:void(0);" class="bd-btn" id="next_btn">下一步</a>
            </div>
            
        </div>
    </div>
    <p class="fir-act">已有账号？<a href="#">立即登录</a></p>
    <a href="#" class="reg_suc">
        <img src="../../lib/img/reg-suc.png" width="100%" height="auto" alt="注册成功">
    </a>
    <script type="text/javascript" src="../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../dist/member/register.js"></script>

</body>
</html>