.rank-info {
  font-size: 1.3rem;
}
.rank-info li {
  display: -webkit-box;
  -webkit-box-align: center;
  width: 100%;
  line-height: 32px; 
}
.rank-info li:first-child {
  font-weight: bold; 
}
.rank-info li span {
  display: block;
  -webkit-box-flex: 1;
  width: 100%;
  text-align: center; 
}
.rank-info span:nth-child(1){
    width: 20%;
}
.rank-info span:nth-child(2){
    width: 45%;
}
.rank-info span:nth-child(3){
    width: 35%;
}
.rank{
    height: 22px;
    line-height: 22px; 
}
.rank01{
    background: url(../../img/rank01.png) no-repeat center center;
    background-size: 16px 21px;
}
.rank02{
    background: url(../../img/rank02.png) no-repeat center center;
    background-size: 16px 21px;
}
.rank03{
    background: url(../../img/rank03.png) no-repeat center center;
    background-size: 16px 21px;
}
.rank-info li:last-child{
    background-color: #e60012;
    -webkit-box-align: end;
    line-height: 22px;
    font-size: 1.5rem;
}
.rank-info li:last-child em{
    display: block;
    color: #ddda00;
}