<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——情人节</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png?v=@{@WorkContext.Version}" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170214/sweetHeart.css">
</head>
<body>
    <div class="sw-cont">
        <span class="sw-rule"></span>
        <span class="sw-email">
            <img src="../../../lib/sweetHeart/sw-mailer.png" alt="sweetHeart" width="100%" height="auto">
        </span>
        <span class="prize-btn"></span>
        <img src="../../../lib/sweetHeart/sw01.png" alt="sweetHeart" width="100%" height="auto">
        <img src="../../../lib/sweetHeart/sw02.png" alt="sweetHeart" width="100%" height="auto">
        <img src="../../../lib/sweetHeart/sw03.png" alt="sweetHeart" width="100%" height="auto">
        <p class="sw-besides">您还有<span class="sw-num"></span>次射箭机会</p>
        <p class="sw-foot">本活动最终解释权归94bank所有</p>
    </div>
    <div class="dlg-wrap" id="rule_wrap">
        <div class="dlg-tit">
            <p>活动规则</p>
            <img src="../../../lib/sweetHeart/sw-tit.png" alt="sweetHeart" width="100%" height="auto">
        </div>
        <div class="dlg-info">
            <ul>
                <li>
                    <label>1、</label>
                    <div>活动期间，每购买满1314元指定“9盈宝-甜蜜一生”活动产品，即可享有一次9比特射击机会。</div>
                </li>
                <li>
                    <label>2、</label>
                    <div>
                        <p>2月13日<i class="time-ico"></i><span class="time-mod">13:14</span>开启9比特甜蜜送礼：</p>
                        <p>周大福心愿成真黄金手链、GODIVA金装心形礼盒、情侣座电子电影券、更有现金红包、投资券、加息券等有情有礼。</p>
                    </div>
                </li>
                <li>
                    <label>3、</label>
                    <div>累计抽取到第11次，即可获得一封遥远星球的神秘信件！</div>
                </li>
                <li>
                    <label>4、</label>
                    <div>
                        <p>每人参与次数不限，购买越多射击次数越多，越有可能中大奖哦~</p>
                        <p>【实物奖励将于活动结束后的7个工作日内联系中奖者并送出，若无法联系到获得者，视为自动放弃。】</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dlg-wrap" id="dlg_wrap">
        <div class="dlg-tit">
            <img src="../../../lib/sweetHeart/sw-pz-tit.png" alt="sweetHeart" width="100%" height="auto">
        </div>
        <div class="dlg-info">
            <p class="pz-tit">获得</p>
            <p class="pz-st"></p>
            <div class="pz-box" id="pz_box"></div>
        </div>
    </div>
    <div class="dlg-wrap" id="dlg_st_wrap">
        <div class="dlg-tit">
            <p id="st_tit"></p>
            <img src="../../../lib/sweetHeart/sw-tit.png" alt="sweetHeart" width="100%" height="auto">
        </div>
        <div class="dlg-info" id="dlg_st_pic">
           
        </div>
    </div>
    
    <div class="dlg-email" id="dlg_email">
        <div class="em-body">
            <span class="em-flg"></span>
            <div class="em-open"></div>
            <div class="em-bg"></div>
            <div class="em-xq"></div>
            <div class="em-letter"></div>
            <div class="em-jl">
                <input type="tel" placeholder="请输入手机号码" value="" maxlength="11" id="em_tel" class="em-tel">
                <p class="em-err"><span></span></p>
                <div class="em-btn btn">同样福利送给好友</div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170214/sweetHeart.js"></script>
</body>
</html>