body{
    background-color: #f5f5f5;
}
::-webkit-scrollbar{  
    width: 1px;  
    height: 1px;  
    background-color: #fff;  
}  
::-webkit-scrollbar-track{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);  
    background-color: #fff;  
}  
::-webkit-scrollbar-thumb{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);  
    background-color: #fff;  
}  
.dc-nav{
    padding: 19px 0;
    margin-bottom: 8px;
    background-color: #fff;
    white-space: nowrap;
    overflow: hidden;
}
.nav-info{
    min-width: 100%;
    overflow-x: auto;
}
.nav-info a{
    display: inline-block;
    width: 25%;
    color: #333;
    text-align: center;
}
.nav-info a span{
    display: -webkit-box;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    overflow: hidden;
}
.nav-info a p{
    padding-top: 14px;
}
.swiper-container {
    position: relative;
    height: 105px;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
    margin-bottom: 8px;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container .swiper-pagination {
    position: absolute;
    bottom: 10px;
    display: -webkit-box;
    -webkit-box-pack: center;
    width: 100%;
    z-index: 1;
}
.swiper-container .swiper-pagination span {
    display: block;
    margin: 0 2px;
    height: 2px;
    width: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #b3b3b3;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff3127; 
}
.dc-life{
    display: -webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack: justify;
    height: 110px;
    background-color: #fff;
    padding: 0 12px;
    margin-bottom: 8px;
}
.dc-life a{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 48%;
    height: 70px;
    box-shadow: 0px 0px 3px 1px #e8e8e8;
}
.life-ico{
    display: -webkit-box;
    height: 20px;
    padding: 0 6%;
}
.life-name{
    -webkit-box-flex:1;
    line-height: 22px;
}
.life-name h2{
    font-size: 1.4rem;
    color: #333;
}
.life-name p,.game-name p{
    color: #bcbcbc;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.dc-game{
    background-color: #fff;
    margin-bottom: 8px;
}
.dc-game h1{
    position: relative;
    padding: 0 12px;
    line-height: 55px;
    font-size: 1.6rem;
}
.dc-game h1:after,.dc-game li:after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #eee;
    -webkit-transform: scale(1, 0.5);
    transform: scale(1, 0.5);
}
.dc-game ul{
    padding: 0 12px;
}
.dc-game li{
    position: relative;
    display: -webkit-box;
    -webkit-box-align:center;
    height: 86px;
}
.game-pic{
    width: 13%;
    border-radius: 10px;
    overflow: hidden;
}
.game-name{
    -webkit-box-flex:1;
    padding-left: 3%;
    line-height: 24px;
}
.game-name h3{
    font-size: 1.4rem;
}
.game-name .pop{
    display: inline-block;
    width: 30px;
    margin-left: 6px;
    line-height: 16px;
    border-radius: 2px;
    background-color: #ff912f;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}
.enter{
    display: block;
    width: 12%;
    border:1px solid #ff8d27;
    border-radius: 4px;
    line-height: 25px;
    color: #ff8d27;
    text-align: center;
}