<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>94bank 移动理财管家——315国际消费者权益日</title>
    <meta name="keywords" content="94bank,银行宝，银宝宝，理财产品，理财软件，掌上理财,p2p理财产品，理财产品商城，互联网理财">
    <meta name="description" content="94bank是移动理财管家,为用户提供最高25倍银行存款利息!1元起购!8道安全保障,100%本息保障!随用随取!好收益,就看94bank!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="applicable-device" content="mobile">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://img.94bank.com/public/app/touch-icon57.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://img.94bank.com/public/app/touch-icon72.png?v=20160601">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://img.94bank.com/public/app/touch-icon114.png?v=20160601" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://img.94bank.com/public/app/touch-icon144.png" />
    <link rel="shortcut icon" href="http://mp.94bank.com/favicon.ico?v=0b53de0092c64465479fe60efd21" type="image/x-icon">
    <link rel="stylesheet" href="../../../dist/activity/20170315/protectConsumer.css">
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide pg-0">
                <p class="pg0-tit"></p>
                <span class="light light01"></span>
                <span class="light light02"></span>
                <span class="light light03"></span>
                <span class="light light04"></span>
                <span class="light light05"></span>
                <span class="light light06"></span>
                <img src="../../../lib/protectConsumer/home.jpg" width="100%" height="100%" alt="protectConsumer">              
            </div>
            <div class="swiper-slide pg-1">
                <span class="time"></span>
                <p class="pg-tit"></p>
                <img src="../../../lib/protectConsumer/pg1.jpg" width="100%" height="100%" alt="protectConsumer">
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide pg-2">
                <span class="time"></span>
                <p class="pg-tit"></p>
                <img src="../../../lib/protectConsumer/pg2.jpg" width="100%" height="100%" alt="protectConsumer">
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide pg-3">
                <span class="time"></span>
                <p class="pg-tit"></p>
                <img src="../../../lib/protectConsumer/pg3.jpg" width="100%" height="100%" alt="protectConsumer">
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide pg-4">
                <span class="time"></span>
                <p class="pg-tit"></p>
                <img src="../../../lib/protectConsumer/pg4.jpg" width="100%" height="100%" alt="protectConsumer">
                <span class="move-ico-up"></span>
            </div>
            <div class="swiper-slide custom-card">
                <span class="phone-light"></span>
                <span class="card card1 custom" type="1"></span>
                <span class="card card2" type="2"></span>
                <span class="card card3" type="3"></span>
                <span class="card card4" type="4"></span>
                <input type="text" maxlength="4" class="custom-name" placeholder="请留下您的姓名">
                <span class="custom-btn"></span>
                <p class="custom-error"></p>
                <img src="../../../lib/protectConsumer/custom-card.jpg" width="100%" height="100%" alt="protectConsumer">
            </div>
        </div>
    </div>
    <div class="card-dlg">
        <p class="made-share made"></p>
        <div class="made01">
            <h2 class="made-tit card1-01"></h2> 
            <div class="made-sta card1-02">
                <span class="made-name"></span>
            </div>
            <span class="made-bot"></span>
        </div>
        <p class="made-des card1-03"></p>
        <a href="javascript:void(0);" class="made-buy made"></a>
        <a href="http://np.94bank.com/member/regist" class="made-reg made"></a>
        <a href="http://np.94bank.com/Activity/protectConsumer20170315" class="made-also"></a>
    </div>
    <script type="text/javascript" src="../../../lib/zepto.min.js"></script>
    <script type="text/javascript" src="../../../dist/activity/20170315/protectConsumer.js"></script>
</body>
</html>